<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History Add</title>
</head>
<body>
    <h2>전산장비 및 소모품 입출고 내역</h2>
    <form action="/historyAdd" method="post">
        <div>
            <input type="text" name="history_completion_date" placeholder="처리 일시"/>
        </div>
        <div>
            <input type="text" name="history_request_date" placeholder="요청 일시"/>
        </div>
        <div>
            <input type="text" name="history_asset_type" placeholder="장비,소모품(구분)"/>
        </div>
        <div>
            <input type="text" name="history_type" placeholder="입고,출고,변경"/>
        </div>
        <div>
            <input type="text" name="history_requester" placeholder="요청자"/>
        </div>
        <div>
            <input type="text" name="history_worker" placeholder="작업자"/>
        </div>
        <div>
            <input type="text" name="history_member_id" placeholder="사번"/>
        </div>
        <div>
            <input type="text" name="history_asset_number" placeholder="장비,소모품 번호"/>
        </div>
        <div>
            <input type="text" name="history_request_details" placeholder="요청 내용"/>
        </div>
        <div>
            <input type="text" name="history_reqeust_etc" placeholder="비고 내용"/>
        </div>
        <div>
            <input type="text" name="history_spec1" placeholder="스펙1"/>
        </div>
        <div>
            <input type="text" name="history_spec2" placeholder="스펙2"/>
        </div>
        <div>
            <input type="text" name="history_spec3" placeholder="스펙3"/>
        </div>
        <button type="submit">입출고 및 자산 변동사항 등록</button>
    </form>
</body>
</html>