<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Asset Search</title>
</head>
<body>
    <h2>자산 조회</h2>
    <form action="/assetSearch" th:object="${assetVo}" method="post">
        <div>
            <input type="text" th:field="*{asset_number}"  placeholder="자산 고유번호 입력"/>
        </div>

        <button type="submit" formaction="assetSearch" formmethod="post">자산 조회</button>
        <button type="submit" formaction="assetUpdate" formmethod="post">수정하기</button>
    </form>



</body>
</html>