<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Asset Add</title>
    <style>
        .box{
            display:inline-block; /* default값 inline */
            width:150px; /* display가 block일때만 지정가능 */
        }
    </style>
</head>
<body>
    <h2>장비 최초 등록</h2>
    <form th:action="@{/assetAdd}" th:object="${assetVo}" method="post">
        <div>
            <label th:for="assetNumber" class="box">관리번호 : </label>
            <input type="text" th:field="*{assetNumber}" placeholder="자산 고유번호 입력"/>
        </div>
        <button type="button" onclick="location.href='assetSearch'" formaction="post">조회하기</button>
        <hr>

        <div>
            <label th:for="statusType">
            <input type="radio" th:field="*{statusType}" value="신규" th:checked="${assetVo.statusType eq '신규'}"/>
                신규</label>
            <label th:for="statusType">
            <input type="radio" th:field="*{statusType}" value="출고" th:checked="${assetVo.statusType eq '출고'}"/>
                출고</label>
            <label th:for="statusType">
            <input type="radio" th:field="*{statusType}" value="입고" th:checked="${assetVo.statusType eq '입고'}"/>
                입고</label>
            <label th:for="statusType">
            <input type="radio" th:field="*{statusType}" value="기타 " th:checked="${assetVo.statusType eq '기타'}"/>
                기타</label>
        </div>

        <div>&lt;장비 상태&gt;</div>
        <div>
            <label th:for="statusAssetStatus">양호</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="양호"/>
            <label th:for="statusAssetStatus">재고</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="재고"/>
            <label th:for="statusAssetStatus">불용</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="불용"/>
            <label th:for="statusAssetStatus">분실</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="분실"/>
            <label th:for="statusAssetStatus">매각</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="매각"/>
            <label th:for="statusAssetStatus">기타</label>
            <input type="radio" th:field="*{statusAssetStatus}" value="기타"/>
        </div>
        <div>
            <label th:for="statusMemberId" class="box">장비 소유자 사번 : </label>
            <input type="text" th:field="*{statusMemberId}" placeholder="장비 소유자 입력(HMMxxxx,신규장비)"/>
        </div>

        <div>&lt;지급 용도&gt;</div>
        <div>
            <label th:for="statusAssetUsage">업무용</label>
            <input type="radio" th:field="*{statusAssetUsage}" value="업무용"/>
            <label th:for="statusAssetUsage">대여용</label>
            <input type="radio" th:field="*{statusAssetUsage}" value="대여용"/>
            <label th:for="statusAssetUsage">공용</label>
            <input type="radio" th:field="*{statusAssetUsage}" value="공용"/>
            <label th:for="statusAssetUsage">기타</label>
            <input type="radio" th:field="*{statusAssetUsage}" value="기타 "/>
        </div>
        <div>
            <label th:for="assetDuration" class="box">장비 지급 기간 : </label>
            <input type="text" th:field="*{assetDuration}" placeholder="장비 지급 기간" />
        </div>
        <div>
            <label th:for="assetModelCode" class="box">모델 코드 : </label>
            <input type="text" th:field="*{assetModelCode}" placeholder="모델 코드 입력"/>
        </div>
        <div>
            <label th:for="assetModelName" class="box">모델명 : </label>
            <input type="text" th:field="*{assetModelName}" placeholder="모델명 입력"/>
        </div>
        <div>
            <label th:for="assetSerialNumber" class="box">시리얼 : </label>
            <input type="text" th:field="*{assetSerialNumber}" placeholder="장비 시리얼 입력"/>
        </div>
        <div>
            <label th:for="assetWiredMacAddress" class="box">유선 MAC Address : </label>
            <input type="text" th:field="*{assetWiredMacAddress}" placeholder="유선 MAC Address"/>
        </div>
        <div>
            <label th:for="assetWirelessMacAddress" class="box">무선 MAC Address : </label>
            <input type="text" th:field="*{assetWirelessMacAddress}" placeholder="무선 MAC Address"/>
        </div>
        <div>
            <label th:for="statusAssetSpec1" class="box">Storage 용량 : </label>
            <input type="text" th:field="*{statusAssetSpec1}" placeholder="Storage 용량"/>
        </div>
        <div>
            <label th:for="statusAssetSpec2" class="box">Memory 용량 : </label>
            <input type="text" th:field="*{statusAssetSpec2}" placeholder="Memory 용량"/>
        </div>
        <div>
            <label th:for="assetArrivalDate" class="box">장비 도입일 : </label>
            <input type="date" th:field="*{assetArrivalDate}" placeholder="장비 도입일" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"/>
        </div>
        <!--<div>
            <label th:for="assetPaymentDate" class="box">장비 지급일 : </label>
            <input type="date" th:field="*{assetPaymentDate}" placeholder="장비 지급일" th:value="${#calendars.format(#calendars.createNow(), 'yyyy-MM-dd')}"/>
        </div>-->
        <!--<div>
            <label th:for="assetPaymentMemberId" class="box">최초지급 사번 : </label>
            <input type="text" th:field="*{assetPaymentMemberId}" placeholder="최초지급 사번"/>
        </div>
        <div>
            <label th:for="assetPaymentMemberName" class="box">최초지급 이름 : </label>
            <input type="text" th:field="*{assetPaymentMemberName}" placeholder="최초지급 이름"/>
        </div>
        <div>
            <label th:for="assetPaymentMemberRank" class="box">최초지급 직급 : </label>
            <input type="text" th:field="*{assetPaymentMemberRank}" placeholder="최초지급 직급/">
        </div>
        <div>
            <label th:for="assetPaymentDepartment" class="box">최초지급 부서 : </label>
            <input type="text" th:field="*{assetPaymentDepartment}" placeholder="최초지급 부서"/>
        </div>
        <div>
            <label th:for="assetPaymentDetails" class="box">최초지급 내용 : </label>
            <input type="text" th:field="*{assetPaymentDetails}" placeholder="최초지급 내용"/>
        </div>-->
        <div>
            <label th:for="open" class="box">체크박스 : </label>
            <input type="checkbox" id="open" name="open" th:field="*{open}"/>
        </div>
        <button type="submit">자산 등록</button>
        <button type="submit" formaction="assetLogout" formmethod="post">로그아웃</button>
    </form>
</body>
</html>