<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/serverSideLayout}"
      layout:fragment="Content" xmlns="http://www.w3.org/1999/html">

<head><!--백앤드 조회-->
    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
    <script src="js/datatables/dataTables.fixedColumns.min.js"></script>
    <script src="js/datatables/dataTables.responsive.min.js"></script>
</head>
<body>
<div id="myDiv" class="container-fluid">
    <h5 Style="text-align:center">HMM 실시간 전산 장비 리스트(백엔드)</h5>
    <hr>
    <table id="myTable" class="display nowrap" style="width:100%">
        <thead>
        <tr>
            <th>No.</th>
            <th>구분</th>
            <th>장비상태</th>
            <th>사원번호</th>
            <th>위치</th>
            <th>지역</th>
            <th>층</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원상태</th>
            <th>용도</th>
            <th>트리플</th>
            <th>장비번호</th>
            <th>타입</th>
            <th>제조사</th>
            <th>모델명</th>
            <th>SPEC</th>
            <th>MAC ADDRESS</th>
            <th>시리얼</th>
            <th>도입일</th>
            <th>최초지급</th>
            <th>업데이트</th>
            <th>용도상세</th>
            <th>지급기한</th>
            <th>상세조회</th>
        </tr>
        </thead>

        <tfoot>
        </tfoot>
    </table>
</div><!-- /container -->

<script>
    $(document).ready(function() {
        document.getElementById("myDiv").style.display = "block";
        $('#myTable').DataTable( {
               searching: true, // 우측 상단 서치박스 활성화 false
               processing: true,
               search: {
                         return: true // 엔터 키 검색
                         // regex : true
                         },

               serverSide: true,
               ajax: {
                        url: '/assets',
                        type: 'POST'
                     },
               scrollCollapse: true,
               scrollX: true, // 가로 스크롤바 생성
               scrollCollapse: true,
                // 틀고정 설정
                fixedColumns: {
                    leftColumns: 0, // 숫자 크기 만큼 고정
                    rightColumns: 1
                },
               scrollY: '700px',
               dom: 'Bfrtip',
               lengthMenu: [
                                [ 5, 10, 25, 50, 100, -1 ],
                                [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
                            ],
               iDisplayLength : 10,
               buttons: [
                           'pageLength', 'copy', 'csv', 'excel', 'pdf', 'print'
                         ],
               columnDefs:
                            [
                                {
                                className: 'dtr-control',
                                orderable: false

                                },
                                            // 열 숨기기 설정
                                { targets: 3, visible: false }, // 지역
                                { targets: 10, visible: false }, // 제조사
                                { targets: 12, visible: false }, // 시리얼
                                { targets: 13, visible: true }, // 스펙1
                                { targets: 14, visible: true }, // 스펙2
                                { targets: 20, visible: true }, // 용도 상세
                            ],


               order: [8, 'asc'], // 작동 안함
               colReorder: true,
               responsive: false
        } );
});
</script>
</body>
</html>