<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="container">
    <div>
        <h5>상단 Search 조회 리스트 보여주기</h5>
        <table>
            <thead>
            <tr>
                <th>No.</th>
                <th>구분</th>
                <th>장비상태</th>
                <th>사원번호</th>
                <th>이름</th>
                <th>직급</th>
                <th>직원상태</th>
                <th>용도</th>
                <th>장비번호</th>
                <th>타입</th>
                <th>제조사</th>
                <th>모델명</th>
                <th>email</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u, stat :${list}">
                <td th:text="${stat.count}"></td>
                <td th:text="${u.statusType}"></td>
                <td th:text="${u.statusAssetStatus}"></td>
                <td th:text="${u.memberId}"></td>
                <td th:text="${u.memberName}"></td>
                <td th:text="${u.memberRank}"></td>
                <td th:text="${u.memberStatus}"></td>
                <td th:text="${u.statusAssetUsage}"></td>
                <td th:text="${u.assetNumber}"></td>
                <td th:text="${u.modelType}"></td>
                <td th:text="${u.modelManufacturer}"></td>
                <td th:text="${u.assetModelName}"></td>
                <td th:text="${u.tgateMemberEmail}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>