<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<head>
    <title>ITAM Asset Search</title>

    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows : https://datatables.net/extensions/responsive/examples/child-rows/column-control -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>
<div id="myDiv" class="container-fluid">
    <div class="container">
        <hr>
        <form th:action="@{/searchMemberList}" th:object="${assetVo}" method="get">
            <div class="row align-items-start">
                <div class="col">
                    <h4>장비 부서별 리스트 조회</h4>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" list="department" class="form-control mb-1"
                               th:field="*{searchDepart}"/>
                        <datalist id="department">
                            <option th:each="d : ${departList}" th:value="${d.memberDepartment}"
                                    th:label="|${d.departmentFloor} / ${d.memberDepartmentDetail}|">
                        </datalist>
                        <label th:for="searchDepart">부서 검색 </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" list="memberName" class="form-control mb-1"
                               th:field="*{searchMember}" autofocus/>
                        <datalist id="memberName">
                            <option th:each="m : ${memberList}" th:value="${m.memberId}"
                                    th:label="|${m.memberName} / ${m.departmentFloor} / ${m.memberDepartment} / ${m.memberDepartmentDetail}|">
                        </datalist>
                        <label th:for="searchMember">직원 검색(사번) </label>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-1" formaction="searchMemberList"
                            formmethod="get">
                        리스트 조회
                    </button>
                    <button type="submit" class="btn btn-outline-primary mb-1" formaction="searchPaymentList"
                            formmethod="get">지급일 조회 바로가기
                    </button>
                </div>
            </div>
        </form>
    </div>

    <hr>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>No.</th>
            <th>구분</th>
            <th>장비상태</th>
            <th>사원번호</th>
            <th>위치</th>
            <th>지역</th>
            <th>층</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원상태</th>
            <th>용도</th>
            <th>트리플</th>
            <th>장비번호</th>
            <th>타입</th>
            <th>제조사</th>
            <th>모델명</th>
            <th>SPEC</th>
            <th>MAC ADDRESS</th>
            <th>시리얼</th>
            <th>지급일</th>
            <th>최근실사</th>
            <th>용도상세</th>
            <th>지급기한</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${u.statusType}"></td>
            <td th:text="${u.statusAssetStatus}"></td>
            <td th:text="${u.memberId}"></td>
            <td th:text="${u.departmentLocation}"></td>
            <td th:text="${u.departmentRegion}"></td>
            <td th:text="${u.departmentFloor}"></td>
            <td th:text="${u.departmentName}"></td>
            <td th:text="${u.memberName}"></td>
            <td th:text="${u.memberRank}"></td>
            <td th:text="${u.memberWorkingStatus}"></td>
            <td th:text="${u.statusAssetUsage}"></td>
            <td th:text="${u.statusAssetEtc1}"></td>
            <td th:text="${u.assetNumber}"></td>
            <td th:text="${u.modelType}"></td>
            <td th:text="${u.modelManufacturer}"></td>
            <td th:text="${u.assetModelName}"></td>
            <td th:text="|${u.statusAssetSpec1} / ${u.statusAssetSpec2}|">
            <td th:text="|${u.assetWiredMacAddress} / ${u.assetWirelessMacAddress}|">
            <td th:text="${u.assetSerialNumber}"></td>
            <td th:text="${#dates.format(u.assetPaymentDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${u.assetLastUpdateDate}"></td>
            <td th:text="${u.statusAssetEtc2}"></td>
            <td th:text="${u.assetDuration}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->

<script src="js/datatables/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {
        search: {
                    // return: true
                },
        scrollCollapse: true,
        scrollY: '700px',
        // scrollX: true, // 가로 스크롤
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10 ,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false
            }
        ],

        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>

<!--검색 창 포커스 글씨 맨 뒤 위치-->
<script>
    var len = $('#searchMember').val().length;
    $('#searchMember').focus();
    $('#searchMember')[0].setSelectionRange(len, len);
</script>
</body>
</html>