<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" xmlns="http://www.w3.org/1999/html">
<body>
<head>
    <title>ITAM Asset Search</title>

    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows : https://datatables.net/extensions/responsive/examples/child-rows/column-control -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>
<div id="myDiv" class="container-fluid">
    <h5 Style="text-align:center">실시간 전산 장비 리스트 조회</h5>
    <!--<div class="container">

        <hr>
        <form th:action="@{/searchAssetList}" th:object="${assetVo}" method="get">
            <div class="row align-items-start">
                <div class="col">
                    <h4>장비 항목별 리스트 조회</h4>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select mb-1" th:field="*{searchType}">
                            <option th:value="easySearch">간편 조회(이름, 부서, 번호, 모델명)</option>
                            <option th:value="memberName">이름 조회</option>
                            <option th:value="memberId">사번 조회</option>
                            <option th:value="memberDepartmentDetail">부서 조회</option>
                            <option th:value="assetNumber">장비 번호 조회</option>
                            <option th:value="modelType">장비 타입 조회(D,L,M)</option>
                            <option th:value="assetModelName">모델명 조회</option>
                            <option th:value="statusType">입출고 상태(출고,입고,기타)</option>
                            <option th:value="statusAssetUsage">용도별 조회(업무용,대여용,공용,재고)</option>
                        </select>
                        <label th:for="searchType">검색 항목 선택 : </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" class="form-control mb-1" th:field="*{search}" autofocus/>
                        <label th:for="search">검색창 </label>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-1" formaction="searchAssetList"
                            formmethod="get">리스트 조회
                    </button>
                    <button type="submit" class="btn btn-outline-primary mb-1" formaction="searchMemberPage"
                            formmethod="get">부서별 조회 바로가기
                    </button>
                </div>
            </div>
        </form>
    </div>-->

    <hr>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>No.</th>
            <th>구분</th>
            <th>장비상태</th>
            <th>사원번호</th>
            <th>위치</th>
            <th>지역</th><!--숨김-->
            <th>층</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원상태</th>
            <th>용도</th>
            <th>트리플</th><!--숨김-->
            <th>장비번호</th>
            <th>타입</th>
            <th>제조사</th><!--숨김-->
            <th>모델명</th>
            <th>SPEC</th>
            <th>MAC ADDRESS</th>
            <th>시리얼</th>
            <th>도입일</th><!--숨김-->
            <th>최초지급</th>
            <th>업데이트</th>
            <th>용도상세</th>
            <th>지급기한</th>
            <th>상세조회</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td><!--No-->
            <td th:text="${u.statusType}"></td><!--구분-->
            <td th:text="${u.statusAssetStatus}"></td><!--장비상태-->
            <td th:text="${u.memberId}"></td><!--사원번호-->
            <td th:text="${u.departmentLocation}"></td><!--위치-->
            <td th:text="${u.departmentRegion}"></td><!--지역-->
            <td th:text="${u.departmentFloor}"></td><!--층-->
            <td th:text="${u.departmentName}"></td><!--부서-->
            <td th:text="${u.memberName}"></td><!--이름-->
            <td th:text="${u.memberRank}"></td><!--직급-->
            <td th:text="${u.memberWorkingStatus}"></td><!--직원상태-->
            <td th:text="${u.statusAssetUsage}"></td><!--장비용도-->
            <td th:text="${u.statusAssetEtc1}"></td><!--듀얼현황-->
            <td th:text="${u.assetNumber}"></td><!--장비번호-->
            <td th:text="${u.modelType}"></td><!--장비타입-->
            <td th:text="${u.modelManufacturer}"></td><!--장비제조사-->
            <td th:text="${u.assetModelName}"></td><!--모델명-->
            <td th:text="|${u.statusAssetSpec1} / ${u.statusAssetSpec2}|"><!--스펙-->
            <td th:text="|${u.assetWiredMacAddress} / ${u.assetWirelessMacAddress}|"><!--MAC ADDRESS-->
            <td th:text="${u.assetSerialNumber}"></td><!--장비시리얼-->
            <td th:text="${#dates.format(u.assetArrivalDate, 'yyyy-MM-dd')}"></td><!--도입일-->
            <td th:text="${#dates.format(u.assetPaymentDate, 'yyyy-MM-dd')}"></td><!--최초지급일-->
            <td th:text="${#dates.format(u.assetLastUpdateDate, 'yyyy-MM-dd')}"></td><!--최근업데이트-->
            <td th:text="${u.statusAssetEtc2}"></td><!--용도상세-->
            <td th:text="${u.assetDuration}"></td><!--지급기한-->
            <td>
                <form th:action="@{/assetSearch}" th:object="${assetVo}" method="post">
                    <input type="hidden" id="assetNumber" name="assetNumber" th:value="${u.assetNumber}"/>
                    <button type="submit" class="btn btn-outline-primary btn-sm"
                            formaction="assetSearch" formmethod="post" formtarget="_blank">Search
                    </button>
                </form>
            </td>
        </tr>
        </tbody>
        <tfoot>
        <tr>
            <th>No.</th>
            <th>구분</th>
            <th>장비상태</th>
            <th>사원번호</th>
            <th>위치</th>
            <th>지역</th><!--숨김-->
            <th>층</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원상태</th>
            <th>용도</th>
            <th>트리플</th><!--숨김-->
            <th>장비번호</th>
            <th>타입</th>
            <th>제조사</th><!--숨김-->
            <th>모델명</th>
            <th>SPEC</th>
            <th>MAC ADDRESS</th><!--숨김-->
            <th>시리얼</th>
            <th>도입일</th><!--숨김-->
            <th>최초지급</th>
            <th>업데이트</th>
            <th>용도상세</th>
            <th>지급기한</th>
            <th>상세조회</th>
        </tr>
        </tfoot>
    </table>
</div> <!-- /container -->

<script src="js/datatables/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {initComplete: function () {
            this.api()
            .columns([1,2,3,4,5,6,7,8,10,11,12,14,15,16,17,18])
            .every(function () {
                let column = this;

                // Create select element
                let select = document.createElement('select');
                select.add(new Option(''));
                column.footer().replaceChildren(select);

                // Apply listener for user change in value
                select.addEventListener('change', function () {
                    column
                        .search(select.value, {exact: true})
                        .draw();
                });

                // Add list of options
                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.add(new Option(d));
                    });
            });
        },
        search: {
                    // return: true
                },
        scrollCollapse: true,
        scrollY: '700px',
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10 ,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false
            },
            // 열 숨기기 설정
            { targets: 5, visible: false }, // 지역
            // { targets: 10, visible: false }, // 직원 상태
            { targets: 12, visible: false }, // 트리플
            { targets: 15, visible: false }, // 제조사
            { targets: 18, visible: false }, // MAC
            { targets: 20, visible: false }, // 도입일
            <!--{ targets: 21, visible: false }, // 최근 실사-->

            // 열 넓이 설정
            { targets: 1, width: 10 }, // 구분
            { targets: 2, width: 10 }, // *장비상태
            // { targets: 4, width: 10 },
            // { targets: 7, width: 100 }, // 부서
            { targets: 6, width: 10 },
            { targets: 9, width: 60 }, // *직급
            { targets: 10, width: 10 },
            { targets: 12, width: 15 },
            // { targets: 15, width: 10 }, // 제조사
            { targets: 18, width: 110 }, // *MAC
            { targets: 20, width: 70 }, // *도입일
            { targets: 21, width: 70 }, // *지급일
            { targets: 22, width: 70 }, // *최근 실사일
            { targets: 23, width: 120 } // *용도

        ],

        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>

<!--검색 창 포커스 글씨 맨 뒤 위치-->
<script>
    var len = $('#search').val().length;
    $('#search').focus();
    $('#search')[0].setSelectionRange(len, len);
</script>

</body>
</html>