<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<head>
    <title>ITAM Asset Search</title>

    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows : https://datatables.net/extensions/responsive/examples/child-rows/column-control -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>
<div id="myDiv" class="container-fluid">
    <div class="container">
        <hr>
        <form th:action="@{/searchAssetList}" th:object="${assetVo}" method="get">
            <div class="row align-items-start">
                <div class="col">
                    <h4>장비 항목별 리스트 조회</h4>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <select class="form-select mb-1" th:field="*{searchType}">
                            <option th:value="easySearch">간편 조회(이름, 부서, 번호, 모델명)</option>
                            <option th:value="memberName">이름 조회</option>
                            <option th:value="memberId">사번 조회</option>
                            <option th:value="memberDepartmentDetail">부서 조회</option>
                            <option th:value="assetNumber">장비 번호 조회</option>
                            <option th:value="modelType">장비 타입 조회(D,L,M)</option>
                            <option th:value="assetModelName">모델명 조회</option>
                            <option th:value="statusType">입출고 상태(출고,입고,기타)</option>
                            <option th:value="statusAssetUsage">용도별 조회(업무용,대여용,공용,재고)</option>
                        </select>
                        <label th:for="searchType">검색 항목 선택 : </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" class="form-control mb-1" th:field="*{search}" autofocus/>
                        <label th:for="search">검색창 </label>
                    </div>
                </div>
                <div class="col">
                    <button type="submit" class="btn btn-primary mb-1" formaction="searchAssetList"
                            formmethod="get">리스트 조회
                    </button>
                </div>
            </div>
        </form>
    </div>

    <hr>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>No.</th>
            <th>구분</th>
            <th>장비상태</th>
            <th>사원번호</th>
            <th>위치</th>
            <th>지역</th>
            <th>층</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>직원상태</th>
            <th>용도</th>
            <th>트리플</th>
            <th>장비번호</th>
            <th>타입</th>
            <th>제조사</th>
            <th>모델명</th>
            <th>SPEC</th>
            <th>MAC ADDRESS</th>
            <th>시리얼</th>
            <th>지급일</th>
            <th>최근실사</th>
            <th>용도상세</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${u.statusType}"></td>
            <td th:text="${u.statusAssetStatus}"></td>
            <td th:text="${u.memberId}"></td>
            <td th:text="${u.departmentLocation}"></td>
            <td th:text="${u.departmentRegion}"></td>
            <td th:text="${u.departmentFloor}"></td>
            <td th:text="${u.departmentName}"></td>
            <td th:text="${u.memberName}"></td>
            <td th:text="${u.memberRank}"></td>
            <td th:text="${u.memberWorkingStatus}"></td>
            <td th:text="${u.statusAssetUsage}"></td>
            <td th:text="${u.statusAssetEtc1}"></td>
            <td th:text="${u.assetNumber}"></td>
            <td th:text="${u.modelType}"></td>
            <td th:text="${u.modelManufacturer}"></td>
            <td th:text="${u.assetModelName}"></td>
            <td th:text="|${u.statusAssetSpec1} / ${u.statusAssetSpec2}|">
            <td th:text="|${u.assetWiredMacAddress} / ${u.assetWirelessMacAddress}|">
            <td th:text="${u.assetSerialNumber}"></td>
            <td th:text="${#dates.format(u.assetPaymentDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${u.assetLastUpdateDate}"></td>
            <td th:text="${u.statusAssetEtc2}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->

<script src="js/datatables/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {
        search: {
                    // return: true
                },
        scrollCollapse: true,
        scrollY: '700px',
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10 ,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false
            }
        ],

        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>

<!--검색 창 포커스 글씨 맨 뒤 위치-->
<script>
    var len = $('#search').val().length;
    $('#search').focus();
    $('#search')[0].setSelectionRange(len, len);
</script>
</body>
</html>