<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>History Add</title>
</head>
<body>
    <h2>전산장비 및 소모품 입출고 내역</h2>
    <form action="/historyAdd" method="post">
        <div>
            <input type="text" name="historyCompletionDate" placeholder="처리 일시"/>
        </div>
        <div>
            <input type="text" name="historyRequestDate" placeholder="요청 일시"/>
        </div>
        <div>
            <input type="text" name="historyAssetType" placeholder="장비,소모품(구분)"/>
        </div>
        <div>
            <input type="text" name="historyType" placeholder="입고,출고,변경"/>
        </div>
        <div>
            <input type="text" name="historyRequester" placeholder="요청자"/>
        </div>
        <div>
            <input type="text" name="historyWorker" placeholder="작업자"/>
        </div>
        <div>
            <input type="text" name="historyMemberId" placeholder="사번"/>
        </div>
        <div>
            <input type="text" name="historyAssetNumber" placeholder="장비,소모품 번호"/>
        </div>
        <div>
            <input type="text" name="historyRequestDetails" placeholder="요청 내용"/>
        </div>
        <div>
            <input type="text" name="historyReqeustEtc" placeholder="비고 내용"/>
        </div>
        <div>
            <input type="text" name="historySpec1" placeholder="스펙1"/>
        </div>
        <div>
            <input type="text" name="historySpec2" placeholder="스펙2"/>
        </div>
        <div>
            <input type="text" name="historySpec3" placeholder="스펙3"/>
        </div>
        <button type="submit">입출고 및 자산 변동사항 등록</button>
    </form>
</body>
</html>