<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/historyLayout}"
      layout:fragment="Content" xmlns="http://www.w3.org/1999/html">

<head><!--백앤드 조회-->
    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <!--<script src="js/datatables/vfs_fonts.js"></script>-->
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
    <script src="js/datatables/dataTables.fixedColumns.min.js"></script>
    <script src="js/datatables/dataTables.responsive.min.js"></script>
</head>
<body>
<div id="myDiv" class="container-fluid">
    <h5 Style="text-align:center">HMM 전산 장비 및 소모품 이력 조회</h5>
    <div style="margin-top: 20px; margin-bottom: 10px;">
        <form th:action="@{/historyList}" th:object="${HistoryVo}" method="get">
            <div class="row align-items-start">
                <div class="col">
                </div>
                <div class="col">
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control mb-1"
                               id="searchStart"
                               name="searchStart"
                               th:value="${searchStart}"/>
                        <label for="searchStart">시작일</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control mb-1"
                               id="searchEnd"
                               name="searchEnd"
                               th:value="${searchEnd}"/>
                        <label for="searchEnd">종료일</label>
                    </div>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-primary w-50 h-100 p-1 mb-1 rounded-2"
                            formaction="historyList"
                            formmethod="get">
                        처리 일시 기준<br>이력 조회
                    </button>
                </div>
                <div class="col">
                    <input type="hidden" id="viewType" th:value="${viewType}">
                    <input type="hidden" id="tableName" th:value="${tableName}">
                    <!--해더에 navSearh 변수 사용 중복으로 js에 넘길 때 초기화 됨. navSearchHistory로 받아 js에서 처리-->
                    <!--<input type="hidden" id="navSearch" th:value="${navSearchHistory}">-->
                    <!--<input type="hidden" id="navSearchHistory" th:value="${navSearchHistory}">-->
                    <input type="hidden" id="searchType" th:value="${searchType}">
                </div>
            </div>
        </form>
    </div>
    <div style="text-align: right;">
        <span id="navSearchText" style="margin-right: 15px;"></span>
        <span id="viewTypeText" style="margin-right: 15px;"></span>
        <span id="startText" style="margin-right: 15px;"></span>
        <span id="endText" style="margin-right: 15px;"></span>
        <span id="searchText"></span>
    </div>
    <hr>
    <table id="myTable" class="display nowrap" style="width:100%">


        <thead>
        <tr>
            <th>No.</th>
            <th>처리 일시</th>
            <th>요청 일시</th>
            <th>구분</th>
            <th>입출고</th>
            <th>요청자</th>
            <th>작업자</th>
            <th>사번</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>장비번호</th>
            <th>모델명</th>
            <th>요청 내용</th>
            <th>비고 내용</th>
            <!--<th>스펙1</th>
            <th>스펙2</th>
            <th>스펙3</th>
            <th>기타</th>-->
        </tr>
        </thead>

        <tfoot>
        </tfoot>
    </table>
</div><!-- /container -->

<script src="js/myTable/myHistoryScript.js"></script>

</body>
</html>