<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<!DOCTYPE HTML>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content"
>

<head>
    <title>History Result</title>
    <!-- 엔터 Submit 방지 -->
    <script>
        document.addEventListener('keydown', function(event) {
          if (event.keyCode === 13) {
            event.preventDefault();
          };
        }, true);
    </script>

    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min-0.1.53.js"></script>
    <script src="js/datatables/vfs_fonts-0.1.53.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>

<body>
<div id="myDiv" class="container-fluid">
    <div class="container">
        <hr>
        <form th:action="@{/historyAdd}" th:object="${historyVo}" method="post">
            <div class="row align-items-start">
                <div class="col">
                    <h3>필수 입력 정보</h3>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historyRequester}"/>
                        <label th:for="historyRequester">요청자(txt) : </label>
                    </div>
                    <div class="form-floating">
                        <input type="search" list="memberName" class="form-control mb-1"
                               th:field="*{historyMemberId}" autofocus/>
                        <datalist id="memberName">
                            <option th:each="m : ${memberList}" th:value="${m.memberId}"
                                    th:label="|${m.memberName} / ${m.departmentFloor} / ${m.memberDepartment} / ${m.memberDepartmentDetail}|">
                        </datalist>
                        <label th:for="historyMemberId">실 사용자(hmm####) </label>
                    </div>

                    <!--                    <div class="form-floating">
                                            <input type="text" class="form-control mb-1" th:field="*{historyMemberId}"/>
                                            <label th:for="historyMemberId">사번(실 사용자) : </label>
                                        </div>-->

                    <!--

                                        <div class="form-floating">
                                            <input type="date" class="form-control mb-1" th:field="*{historyRequestDate}"/>
                                            <label th:for="historyRequestDate">요청 일시 : </label>
                                        </div>
                                        <div class="form-floating">
                                            <input type="date" class="form-control mb-1" th:field="*{historyCompletionDate}"/>
                                            <label th:for="historyCompletionDate">처리 일시 : </label>
                                        </div>
                    -->


                    <div class="form-floating">
                        <input type="date"
                               class="form-control mb-1"
                               id="historyRequestDate"
                               name="historyRequestDate"
                               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                        <label for="historyRequestDate">요청 일시 :</label>
                    </div>
                    <div class="form-floating">
                        <input type="date"
                               class="form-control mb-1"
                               id="historyCompletionDate"
                               name="historyCompletionDate"
                               th:value="${#dates.format(#dates.createNow(), 'yyyy-MM-dd')}"/>
                        <label for="historyCompletionDate">처리 일시 :</label>
                    </div>
                    <button type="submit" class="btn btn-primary mb-1" formaction="historyAdd" formmethod="post">자산 이력
                        등록
                    </button>
                </div>

                <div class="col">
                    <h3>요청 내용</h3>

                    <div class="form-floating">

                        <input type="search" list="assetList" class="form-control mb-1"
                               th:field="*{historyAssetNumber}"/>
                        <datalist id="assetList">
                            <option th:each="a : ${assetList}" th:value="${a.assetNumber}"
                                    th:label="|${a.statusAssetUsage} / ${a.statusAssetEtc1} / ${a.memberName}/ ${a.memberId} / ${a.departmentFloor} / ${a.assetModelName} / ${a.statusAssetSpec3}|">
                        </datalist>
                        <label th:for="historyAssetNumber">장비 번호 입력</label>

                    </div>
                    <div class="form-floating">
                        <select class="form-control mb-1" th:field="*{historyType}">
                            <option th:value="수리">수리</option>
                            <option th:value="고장">고장</option>
                        </select>
                        <label th:for="historyType">이력 관리 구분(수리, 고장 등록) : </label>
                    </div>
                    <div class="form-floating">
                        <select class="form-control mb-1" th:field="*{historyAssetType}">
                            <option th:value="장비">장비</option>
                            <option th:value="기타">기타</option>
                        </select>
                        <!--<input type="text" class="form-control mb-1" th:field="*{historyAssetType}"/>-->
                        <label th:for="historyAssetType">이력 등록 품목(장비,기타) : </label>
                    </div>
                    <div class="form-floating">
                        <select class="form-control mb-1" th:field="*{historyRequestUsage}">
                            <option th:value="업무용">업무용</option>
                            <option th:value="대여용">대여용</option>
                            <option th:value="공용">공용</option>
                            <option th:value="재고">재고</option>
                            <option th:value="기타">기타</option>
                            <option th:value="미반납장비">미반납장비</option>
                        </select>
                        <label th:for="historyRequestUsage">이력 관리 발생 용도 : </label>
                    </div>


                </div>

                <div class="col">
                    <h3>작업 정보</h3>

                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historyWorker}"/>
                        <label th:for="historyWorker">작업자 : </label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historyRequestDetails}"/>
                        <label th:for="historyRequestDetails">이력 관리 등록 내용 : </label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historyReqeustEtc}"/>
                        <label th:for="historyReqeustEtc">비고 내용(소모품 추가 지급) : </label>
                    </div>
                </div>

                <div class="col">
                    <h3>기타 변경</h3>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historySpec1}"/>
                        <label th:for="historySpec1">스펙1 : </label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historySpec2}"/>
                        <label th:for="historySpec2">스펙2 : </label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{historySpec3}"/>
                        <label th:for="historySpec3">스펙3 : </label>
                    </div>
                </div>
            </div>
        </form>
    </div>

    <hr>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>No.</th>
            <th>처리 일시</th>
            <th>요청 일시</th>
            <th>구분</th>
            <th>입출고</th>
            <th>요청자</th>
            <th>작업자</th>
            <th>사번</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>장비번호</th>
            <th>모델명</th>
            <th>요청 내용</th>
            <th>비고 내용</th>
            <!--<th>스펙1</th>
            <th>스펙2</th>
            <th>스펙3</th>-->

        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${#dates.format(u.historyCompletionDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(u.historyRequestDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${u.historyAssetType}"></td>
            <td th:text="${u.historyType}"></td>
            <td th:text="${u.historyRequester}"></td>
            <td th:text="${u.historyWorker}"></td>
            <td th:text="${u.historyMemberId}"></td>
            <td th:text="${u.departmentName}"></td>
            <td th:text="${u.memberName}"></td>
            <td th:text="${u.memberRank}"></td>
            <td th:text="${u.historyAssetNumber}"></td>
            <td th:text="${u.assetModelName}"></td>
            <td th:text="${u.historyRequestDetails}"></td>
            <td th:text="${u.historyReqeustEtc}"></td>
            <!--<td th:text="${u.historySpec1}"></td>
            <td th:text="${u.historySpec2}"></td>
            <td th:text="${u.historySpec3}"></td>-->
        </tr>
        </tbody>
    </table>
</div>
<script src="js/datatables/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 5,
        buttons: [
            'pageLength'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false,
            targets: 0
            }
        ],

        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>
</body>
</html>
</html>