<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<head>
    <title>ITAM History List</title>


    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min-0.1.53.js"></script>
    <script src="js/datatables/vfs_fonts-0.1.53.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>
<div id="myDiv" class="container-fluid">
    <div style="text-align:right; padding-bottom:3px;">
        <button class="btn btn-success" onclick="exportTableToExcel('myTable', 'history-data')">
            Export To Excel
        </button>
    </div>
    <table id="myTable" class="display">
        <thead>
        <tr>
            <th>No.</th>
            <th>처리 일시</th>
            <th>요청 일시</th>
            <th>자산구분</th>
            <th>입출고</th>
            <th>요청자</th>
            <th>작업자</th>
            <th>사번</th>
            <th>장비,소모품 번호</th>
            <th>요청 내용</th>
            <th>비고 내용</th>
            <th>스펙1</th>
            <th>스펙2</th>
            <th>스펙3</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${#dates.format(u.historyCompletionDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(u.historyRequestDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${u.historyAssetType}"></td>
            <td th:text="${u.historyType}"></td>
            <td th:text="${u.historyRequester}"></td>
            <td th:text="${u.historyWorker}"></td>
            <td th:text="${u.historyMemberId}"></td>
            <td th:text="${u.historyAssetNumber}"></td>
            <td th:text="${u.historyRequestDetails}"></td>
            <td th:text="${u.historyReqeustEtc}"></td>
            <td th:text="${u.historySpec1}"></td>
            <td th:text="${u.historySpec2}"></td>
            <td th:text="${u.historySpec3}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->
<script src="js/datatables/dataTables.responsive.min.js"></script>

<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false,
            targets: 0
            }
        ],
        order: [1, 'asc'],
        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>

</body>
</html>