<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/historyLayout}"
      layout:fragment="Content">
<head><!--클라이언트 조회-->
    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
    <script src="js/datatables/dataTables.fixedColumns.min.js"></script>
    <script src="js/datatables/dataTables.responsive.min.js"></script>
</head>

<body>
<div id="myDiv" class="container-fluid">
    <div class="container">
        <hr>
        <form th:action="@{/historyList}" th:object="${historyVo}" method="get">
            <div class="row align-items-start">
                <div class="col">
                    <h3>이력 날짜 조회</h3>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control mb-1" th:field="*{searchStart}"/>
                        <label th:for="searchStart">시작일 </label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="date" class="form-control mb-1" th:field="*{searchEnd}"

                        />
                        <label th:for="searchEnd">종료일 </label>
                    </div>
                </div>

                <div class="col">
                    <button type="submit" class="btn btn-primary mb-1" formaction="historyList"
                            formmethod="get">이력 조회
                    </button>
                    <button type="submit" class="btn btn-outline-primary mb-1" formaction="historySearch"
                            formmethod="get">간편 조회 바로가기
                    </button>
                </div>
            </div>
        </form>
    </div>
    <hr>
    <table id="myTable" class="display nowrap" style="width:100%">
        <thead>
        <tr>
            <th>No.</th>
            <th>처리 일시</th>
            <th>요청 일시</th>
            <th>구분</th>
            <th>입출고</th>
            <th>요청자</th>
            <th>작업자</th>
            <th>사번</th>
            <th>부서</th>
            <th>이름</th>
            <th>직급</th>
            <th>장비번호</th>
            <th>모델명</th>
            <th>요청 내용</th>
            <th>비고 내용</th>
            <th>기타</th>
            <th>스펙1</th>
            <th>스펙2</th>
            <th>스펙3</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="u, stat :${list}">
            <td th:text="${stat.count}"></td>
            <td th:text="${#dates.format(u.historyCompletionDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${#dates.format(u.historyRequestDate, 'yyyy-MM-dd')}"></td>
            <td th:text="${u.historyAssetType}"></td>
            <td th:text="${u.historyType}"></td>
            <td th:text="${u.historyRequester}"></td>
            <td th:text="${u.historyWorker}"></td>
            <td th:text="${u.historyMemberId}"></td>
            <td th:text="${u.departmentName}"></td>
            <td th:text="${u.memberName}"></td>
            <td th:text="${u.memberRank}"></td>
            <td th:text="${u.historyAssetNumber}"></td>
            <td th:text="${u.assetModelName}"></td>
            <td th:text="${u.historyRequestDetails}"></td>
            <td th:text="${u.historyRequestEtc}"></td>
            <td th:text="${u.historyAssetEtc1}"></td>
            <td th:text="${u.historySpec1}"></td>
            <td th:text="${u.historySpec2}"></td>
            <td th:text="${u.historySpec3}"></td>
        </tr>
        </tbody>
    </table>
</div> <!-- /container -->


<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {
        search: {
                    // return: true
                },
        scrollCollapse: true,
        scrollY: '700px',
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false
            }
        ],

        responsive: {
                details: {
                type: 'column'
            }
            }
    } );
} );
</script>

</body>
</html>