<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        멤버 리스트
        <table>
            <thead>
            <tr>
                <th>사원번호</th>
                <th>이름</th>
                <th>직급</th>
                <th>직원상태</th>
                <th>부서</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u:${list}">
                <td th:text="${u.memberId}"></td>
                <td th:text="${u.memberName}"></td>
                <td th:text="${u.memberRank}"></td>
                <td th:text="${u.memberWorkingStatus}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>