<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container">
    <div>
        멤버 리스트
        <table>
            <thead><tr>
                <th>사원번호</th>
                <th>이름</th>
                <th>직급</th>
                <th>직원상태</th>
                <!--
                <th>비고1</th>
                <th>비고2</th>
                -->
                <th>email</th>
                <th>부서</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u:${list}">
                <td th:text="${u.member_id}"></td>
                <td th:text="${u.member_name}"></td>
                <td th:text="${u.member_rank}"></td>
                <td th:text="${u.member_status}"></td>
               <!--
                <td th:text="${u.member_etc1}"></td>
                <td th:text="${u.member_etc2}"></td>
               -->
                <td th:text="${u.tgate_member_email}"></td>
                <td th:text="${u.tgate_member_department}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>