<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>Member Add</title>
</head>
<body>
<div id="myDiv1" class="container-fluid" style="width:1200px">
    <div class="container">
        <hr>
        <h2>직원 정보 수정 화면</h2>
        <form th:action="@{/memberUpdateResult}" th:object="${memberVo}" method="post">
            <div class="row align-items-start">
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control border border-primary mb-1" name="memberId"
                               th:value="${member.memberId}" readonly autofocus/>
                        <label th:for="memberId">사원번호(자동완성)</label>
                    </div>


                    <button type="submit" class="btn btn-primary">수정하기</button>
                    <button type="button" class="btn btn-info mb-1" onClick="javascript:history.back(-1)"
                    >뒤로가기
                    </button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberName"
                               th:value="${member.memberName}"/>
                        <label th:for="memberName">이름</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberRank"
                               th:value="${member.memberRank}"/>
                        <label th:for="memberRank">직급</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberWork"
                               th:value="${member.memberWork}"/>
                        <label th:for="memberWork">직책</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" list="departList" class="form-control mb-1" name="memberDepartment"
                               th:value="${member.memberDepartment}"/>
                        <datalist id="departList">
                            <option th:each="d : ${departList}" th:value="${d.memberDepartment}"
                                    th:label="| ${d.departmentDetail} / ${d.departmentLocation} / ${d.departmentRegion} / ${d.departmentFloor} |">
                        </datalist>
                        <label th:for="memberDepartment">부서(자동완성)</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="departmentDetail"
                               th:value="${member.departmentDetail}" readonly/>
                        <label th:for="departmentDetail">부서상세</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberWorkingStatus"
                               th:value="${member.memberWorkingStatus}"/>
                        <label th:for="memberWorkingStatus">근무상태</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc1"
                               th:value="${member.memberEtc1}"/>
                        <label th:for="memberEtc1">비고1</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc2"
                               th:value="${member.memberEtc2}"/>
                        <label th:for="memberEtc2">비고2</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc3"
                               th:value="${member.memberEtc3}"/>
                        <label th:for="memberEtc3">비고3</label>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>