<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content" xmlns="http://www.w3.org/1999/html">
<head>
    <title>ITAM Asset Search</title>

    <link rel="stylesheet" type="text/css" href="css/datatables/dataTables.css"/>
    <!--datatables child-rows : https://datatables.net/extensions/responsive/examples/child-rows/column-control -->
    <link rel="stylesheet" type="text/css"
          href="css/datatables/responsive.dataTables.min.css"/>

    <link rel="stylesheet" type="text/css" href="css/datatables/jquery.dataTables.min-1.13.7.css"/>
    <link rel="stylesheet" type="text/css" href="css/datatables/buttons.dataTables.min-2.4.2.css"/>
    <script src="jquery/jquery-3.7.0.js"></script>
    <script src="js/datatables/dataTables-1.13.7.js"></script>
    <script src="js/datatables/dataTables.buttons.min.js"></script>
    <script src="js/datatables/jszip.min-3.10.1.js"></script>
    <script src="js/datatables/pdfmake.min.js"></script>
    <script src="js/datatables/vfs_fonts.js"></script>
    <script src="js/datatables/buttons.html5.min-2.4.2.js"></script>
    <script src="js/datatables/buttons.print.min-2.4.2.js"></script>
</head>
<body>
<div id="myDiv" class="container-fluid">
    <div class="container">
        <h4>멤버 리스트</h4>
    </div>
    <hr>
    <div>

        <table id="myTable" class="display">
            <thead>
            <tr>
                <th>No.</th>
                <th>사원번호</th>
                <th>이름</th>
                <th>직급</th>
                <th>직원상태</th>
                <th>부서</th>
                <th>부서상세</th>
                <th>비고1</th>
                <th>비고2</th>
                <!--
                <th>지역</th>
                <th>위치</th>
                <th>층</th>
                -->
                <th>수정</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u, stat :${list}">
                <td th:text="${stat.count}"></td>
                <td th:text="${u.memberId}"></td>
                <td th:text="${u.memberName}"></td>
                <td th:text="${u.memberRank}"></td>
                <td th:text="${u.memberWorkingStatus}"></td>
                <td th:text="${u.memberDepartment}"></td>
                <td th:text="${u.memberDepartmentDetail}"></td>
                <td th:text="${u.memberEtc1}"></td>
                <td th:text="${u.memberEtc2}"></td>
                <!--
                <td th:text="${u.departmentLocation}"></td>
                <td th:text="${u.departmentRegion}"></td>
                <td th:text="${u.departmentFloor}"></td>
                -->
                <td>
                    <form th:action="@{/memberSearch}" th:object="${memberVo}" method="post">
                        <input type="hidden" id="memberId" name="memberId" th:value="${u.memberId}"/>
                        <button type="submit" class="btn btn-outline-primary btn-sm"
                                formaction="memberSearch" formmethod="post">Modify
                        </button>
                    </form>
                </td>
            </tr>
            </tbody>
            <tfoot>
            <tr>
                <th>No.</th>
                <th>사원번호</th>
                <th>이름</th>
                <th>직급</th>
                <th>직원상태</th>
                <th>부서</th>
                <th>부서상세</th>
                <th>비고1</th>
                <th>비고2</th>
                <!--
                <th>지역</th>
                <th>위치</th>
                <th>층</th>
                -->
                <th>수정</th>
            </tr>
            </tfoot>
        </table>
    </div>
</div>

<script src="js/datatables/dataTables.responsive.min.js"></script>


<script>
    $(document).ready(function() {
    document.getElementById("myDiv").style.display = "block";
    $('#myTable').DataTable( {initComplete: function () {
            this.api()
            .columns([3,4,5])
            .every(function () {
                let column = this;

                // Create select element
                let select = document.createElement('select');
                select.add(new Option(''));
                column.footer().replaceChildren(select);

                // Apply listener for user change in value
                select.addEventListener('change', function () {
                    column
                        .search(select.value, {exact: true})
                        .draw();
                });

                // Add list of options
                column
                    .data()
                    .unique()
                    .sort()
                    .each(function (d, j) {
                        select.add(new Option(d));
                    });
            });
        },
        search: {
                    // return: true
                },
        scrollCollapse: true,
        scrollY: '700px',
        dom: 'Bfrtip',
        lengthMenu: [
            [ 5, 10, 25, 50, 100, -1 ],
            [ '5 rows', '10 rows', '25 rows', '50 rows', '100 rows', 'Show all' ]
        ],
        iDisplayLength : 10 ,
        buttons: [
            'pageLength' , 'copy', 'csv', 'excel', 'pdf', 'print'
        ],
        columnDefs: [
            {
            className: 'dtr-control',
            orderable: false
            },
        ],

        responsive: {
                details: {
                    type: 'column'
                }
            }
    } );
} );
</script>

<!--검색 창 포커스 글씨 맨 뒤 위치-->
<script>
    var len = $('#search').val().length;
    $('#search').focus();
    $('#search')[0].setSelectionRange(len, len);
</script>
</body>
</html>