<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>Member Add</title>
</head>
<body>
<div id="myDiv1" class="container-fluid" style="width:1200px">
    <div class="container">
        <hr>

        <form th:action="@{memberAdd}" method="post">
            <div class="row align-items-start">
                <h2>신규 직원 추가</h2>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" list="memberList" class="form-control border border-primary mb-1"
                               name="memberId" autofocus/>
                        <datalist id="memberList">
                            <option th:each="m : ${memberList}" th:value="${m.memberId}"
                                    th:label="| ${m.departmentFloor} / ${m.memberName} / ${m.memberRank} / ${m.memberDepartment} |">
                        </datalist>
                        <label th:for="memberId">사원번호(자동완성)</label>
                    </div>
                    <button type="submit" class="btn btn-primary">멤버 등록</button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberName"/>
                        <label th:for="memberName">이름</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberRank"/>
                        <label th:for="memberRank">직급</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberWork"/>
                        <label th:for="memberWork">직책</label>
                    </div>
                </div>
                <div class="col">
                    <!--<div class="form-floating">
                        <input type="search" list="departList" class="form-control mb-1" name="memberDepartment"/>
                        <datalist id="departList">
                            <option th:each="d : ${departList}" th:value="${d.memberDepartment}"
                                    th:label="| ${d.departmentDetail} / ${d.departmentLocation} / ${d.departmentRegion} / ${d.departmentFloor} |">
                        </datalist>
                        <label th:for="memberDepartment">부서(자동완성)</label>
                    </div>-->

                    <div class="form-floating">
                        <select class="form-select mb-1" name="memberDepartment" id="memberDepartment" required>
                            <option value="" disabled selected>부서를 선택하세요</option>
                            <option th:each="d : ${departList}"
                                    th:value="${d.memberDepartment}"
                                    th:text="|${d.departmentLocation} // ${d.departmentRegion} // ${d.departmentFloor} // ${d.departmentDetail}|">
                            </option>
                        </select>
                        <label for="memberDepartment">부서(선택)</label>
                    </div>


                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberDepartmentDetail" disabled/>
                        <label th:for="memberDepartmentDetail">부서상세</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberWorkingStatus"/>
                        <label th:for="memberWorkingStatus">근무상태</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc1"/>
                        <label th:for="memberEtc1">비고1</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc2"/>
                        <label th:for="memberEtc2">비고2</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" name="memberEtc3"/>
                        <label th:for="memberEtc3">비고3</label>
                    </div>


                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>