<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/serverSideLayout}"
      layout:fragment="Content">
<head>
    <title>Member Result Page</title>
</head>
<body>
<div id="myDiv1" class="container-fluid" style="width:1200px">
    <div class="container">
        <hr>

        <form th:action="@{/memberSearch}" th:object="${memberVo}" method="post">
            <div class="row align-items-start">
                <h2>직원 정보 내역</h2>
                <div class="col">
                    <div class="form-floating">
                        <input type="search" list="memberList" class="form-control border border-primary mb-1"
                               th:field="*{memberId}"
                               autofocus/>
                        <datalist id="memberList">
                            <option th:each="m : ${memberSearch}" th:value="${m.memberId}"
                                    th:label="|${m.memberName} / ${m.memberDepartment}/ ${m.departmentFloor} |">
                        </datalist>
                        <label th:for="memberId">사원번호(자동완성)</label>
                    </div>


                    <button type="submit" class="btn btn-primary mb-1" formaction="/memberSearch" formmethod="post">멤버조회
                    </button>


                    <button type="button" class="btn btn-info mb-1" onClick="javascript:history.back(-1)"
                    >뒤로가기
                    </button>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1" th:field="*{memberName}" disabled/>
                        <label th:for="memberName">이름</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberRank}" disabled/>
                        <label th:for="memberRank">직급</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberWork}" disabled/>
                        <label th:for="memberWork">직책</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberDepartment}" disabled/>
                        <label th:for="memberDepartment">부서</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{departmentDetail}" disabled/>
                        <label th:for="departmentDetail">부서상세</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberWorkingStatus}" disabled/>
                        <label th:for="memberWorkingStatus">근무상태</label>
                    </div>
                </div>
                <div class="col">
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberEtc1}" disabled/>
                        <label th:for="memberEtc1">비고1</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberEtc2}" disabled/>
                        <label th:for="memberEtc2">비고2</label>
                    </div>
                    <div class="form-floating">
                        <input type="text" class="form-control mb-1"
                               th:field="*{memberEtc3}" disabled/>
                        <label th:for="memberEtc3">비고3</label>
                    </div>

                </div>
            </div>
        </form>
    </div>
</div>
</body>
</html>