<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>로그인 정보 페이지 </title>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/chartjs-plugin-datalabels@2.0.0"></script>
</head>
<body class="p-0 m-0 border-0 bd-example m-0 border-0">
<div id="myDiv1" class="container-fluid">
    <h5 Style="text-align:center">HMM ITAM 실시간 전산 장비 현황</h5>

    <div class="d-flex justify-content-center">
        <div class="chart-container-">
            <canvas id="ChartLaptop" width="1800" height="380"></canvas>
        </div>
    </div>
    <div class="d-flex justify-content-center">
        <div class="chart-container-">
            <canvas id="ChartDesktop" width="800" height="380"></canvas>
        </div>
        <div class="chart-container-">
            <canvas id="ChartMonitor" width="1000" height="380"></canvas>
        </div>
    </div>

    <!--<div class="chart-container" style="position: relative; height:40vh; width:80vw">
        <canvas id="Chart2"></canvas>
    </div>-->
    <!--<canvas id="myChart2"></canvas>-->

</div>
</body>
<script type="text/javascript" th:inline="javascript">

    var colorList = ['red','blue','green','yellow','orange','purple','pink','brown','grey','black','white','violet']
    var borderColorList = ['red','blue','green','yellow','orange','purple','pink','brown','grey','black','white','violet']



    var ctx = document.getElementById("ChartLaptop").getContext('2d');
    var ChartDemo = new Chart(ctx, {

        type: 'bar',
        plugins: [ChartDataLabels],
        data: {
            labels: [[${chartLaptopList}]],
            datasets: [
                {
                    label: "전체 현황", //
                    borderColor: 'rgb(0, 0, 255)',
                    backgroundColor: 'rgba(0, 99, 255, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartLaptopTotalCount}]],
                    hidden: true,
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "출고 수량", //
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartLaptopOutCount}]],
                    hidden: true,
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "입고 수량(불용 포함)", //
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartLaptopInCount}]],
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },

            ]
        },
        options: {
            responsive: false,
            <!--indexAxis: 'y',-->
            layout: {
                padding: {
                    top: 7,
                    bottom: 7,
                },
            },
            plugins: {
                title: {
                        display: true,
                        text: 'HMM 노트북 현황',
                    }
            },
            scales: {
                y: {
                    max: 400,
                    min: 0
                }
            }
        }
    });



    var ctx = document.getElementById("ChartDesktop").getContext('2d');
    var ChartDemo = new Chart(ctx, {

        type: 'bar',
        plugins: [ChartDataLabels],
        data: {
            labels: [[${chartDesktopList}]],
            datasets: [
                {
                    label: "전체 수량", //
                    borderColor: 'rgb(0, 0, 255)',
                    backgroundColor: 'rgba(0, 99, 255, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartDesktopTotalCount}]],
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "출고 수량", //
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartDesktopOutCount}]],
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "입고 수량(불용 포함)", //
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartDesktopInCount}]],
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },


            ]
        },
        options: {
            responsive: false,
            <!--indexAxis: 'y',-->
            layout: {
                padding: {
                    top: 7,
                    bottom: 7,
                },
            },
            plugins: {
                title: {
                    display: true,
                    text: 'HMM 데스크탑 현황',
                }
            },
            scales: {
                y: {
                    max: 80,
                    min: 0
                }
            }
        }
    });






    var ctx = document.getElementById("ChartMonitor").getContext('2d');
    var ChartDemo = new Chart(ctx, {

        type: 'bar',
        plugins: [ChartDataLabels],
        data: {
            labels: [[${chartMonitorList}]],
            datasets: [
                {
                    label: "전체 현황", //
                    borderColor: 'rgb(0, 0, 255)',
                    backgroundColor: 'rgba(0, 99, 255, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartMonitorTotalCount}]],
                    hidden: true,
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "출고 수량", //
                    borderColor: 'rgb(75, 192, 192)',
                    backgroundColor: 'rgba(75, 192, 192, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartMonitorOutCount}]],
                    hidden: true,
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },
                {
                    label: "입고 수량(불용 포함)", //
                    borderColor: 'rgb(255, 205, 86)',
                    backgroundColor: 'rgba(255, 205, 86, 0.6)',
                    lineTension: 0,
                    fill: true,
                    data: [[${chartMonitorInCount}]],
                    datalabels: {
                        display: true,
                        align: 'end',
                        anchor: 'end',
                    },
                    borderWidth: 1,
                },

            ]
        },
        options: {
            responsive: false,
            <!--indexAxis: 'y',-->
            layout: {
                padding: {
                    top: 7,
                    bottom: 7,
                },
            },
            plugins: {
                title: {
                        display: true,
                        text: 'HMM 모니터 현황',
                    }
            },
            scales: {
                y: {
                    max: 1000,
                    min: 0
                }
            }
        }
    });
</script>

</html>