<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>로그인 정보 페이지 </title>
</head>
<body class="p-0 m-0 border-0 bd-example m-0 border-0">
<div class="container">
    <div class="d-flex justify-content-center"><h1>이곳에 메인 첫 화면 만드는 중</h1>
    </div>

    <div style="text-align:right;">
    <span th:text="${user.department}"></span><span>부서의 </span>
    <span th:text="${user.name}">사용자 이름 리스트</span><span>님께서 로그인 중입니다.</span>
    </div>


</div>
</body>
</html>