<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>Sign Up</title>
</head>
<body>
<div id="myDiv1" class="container mt-30 pt-30 bg-secondary-subtle rounded-3"
     style="width:600px; ">

    <h2 class="h3 mt-10 mb-2 fw-normal text-center">회원가입</h2>
    <form action="/signup" th:object="${userVo}" method="post">
        <div class="form-floating">
            <input type="text" class="form-control mb-1" th:field="*{hmmId}" placeholder="HMM 아이디 입력"/>
            <label th:for="hmmId">사번 :</label>
        </div>
        <div class="form-floating">
            <input type="text" class="form-control mb-1" th:field="*{name}" placeholder="이름 입력"/>
            <label th:for="name">이름 : </label>
        </div>

        <!-- <h3 class="h5 mt-1 mb-1 fw-normal text-left">성별</h3>
         <div class="form-floating">
             <span class="form-check">
                 <input type="radio" class="form-check-input" th:field="*{isMale}" value="male"/>
                 <label class="form-check-label" th:for="isMale">남성</label></span>
             <span class="form-check">
                 <input type="radio" class="form-check-input" th:field="*{isMale}" value="female"/>
                 <label class="form-check-label" th:for="isMale">여성</label></span>
         </div>-->
        <div class="form-floating">
            <input type="text" class="form-control mb-1" th:field="*{department}" placeholder="부서 입력"/>
            <label th:for="department">부서 :</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control mb-1" th:field="*{password}" placeholder="Password"/>
            <label th:for="password">비밀번호 : </label>
        </div>

        <button class="btn btn-primary" type="submit">회원가입</button>
    </form>

</div>
</body>
</html>