<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<head>
    <title>Sign Up</title>
</head>
<body>
    <h2>사용자 정보 수정</h2>
    <form action="/update" method="post">
    <div>
        <input type="text" name="hmmId" th:value="${user.hmmId}"/>
    </div>
    <div>
        <input type="text" name="name" th:value="${user.name}"/>
    </div>
    <div>
        <input type="text" name="department" th:value="${user.department}"/>
    </div>
    <div>
        <input type="password" name="password" th:value="${user.password}"/>
    </div>
        <button type="submit">수정하기</button>
    </form>
</body>
</html>