<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{common/layouts/defaultLayout}"
      layout:fragment="Content">
<body>
<div class="container">
    <div>
        <h2>로그인 가능한 사용자 리스트</h2>
        <table>
            <thead><tr>
                <th>사원번호</th>
                <th>이름</th>
                <th>부서</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="u:${list}">
                <td th:text="${u.hmmId}"></td>
                <td th:text="${u.name}"></td>
                <td th:text="${u.department}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div> <!-- /container -->
</body>
</html>