<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.AssetMapper">
    <sql id="asset_info">
        asset_number,
        asset_model_code,
        asset_model_name,
        asset_serial_number,
        asset_billing_date,
        asset_arrival_date,
        asset_payment_date,
        asset_payment_member_id,
        asset_payment_department,
        asset_payment_member_name,
        asset_payment_member_rank,
        asset_payment_details,
        asset_wired_mac_address,
        asset_wireless_mac_address,

        status_type,
        status_asset_status,
        status_member_id,
        status_asset_usage,
        status_asset_etc1,
        status_asset_spec1,
        status_asset_spec2,
        status_asset_spec3,
        status_asset_due_diligence,
        status_asset_etc2,
        asset_duration,
        asset_repair_history,
        asset_last_update_date
    </sql>

    <!--헤더 드롭다운 항목별 장비 리스트 조회 클라이언트 (전체 조회 후 js 처리) 조건 검색-->
    <select id="searchAssetList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_model
        ON asset_model.model_type=orderby_model.asset_model

        <!--동적쿼리문 작성-->
        <!--WHERE 조건문 정리-->
        <choose>
            <!--상단 간편 검색 및 상세 조회 리스트 검색의 간편 검색 처리-->
            <when test="searchType == 'easySearch' or searchType == 'realTime'">
                WHERE
                asset_info.status_asset_usage LIKE CONCAT('%' #{search} '%') OR
                asset_info.status_type LIKE CONCAT('%' #{search} '%') OR
                hmm_member.member_id LIKE CONCAT('%' #{search} '%') OR
                hmm_member.member_rank LIKE CONCAT('%' #{search} '%') OR
                hmm_member.member_name LIKE CONCAT('%' #{search} '%') OR
                hmm_member.member_department LIKE CONCAT('%' #{search} '%') OR
                hmm_member.member_department_detail LIKE CONCAT('%' #{search} '%') OR
                asset_info.asset_model_name LIKE CONCAT('%' #{search} '%') OR
                asset_info.asset_number LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'statusAssetUsage'">
                WHERE
                status_asset_usage LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'statusType'">
                WHERE
                status_type LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'memberId'">
                WHERE
                member_id LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'memberName'">
                WHERE
                member_name LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'memberDepartmentDetail'">
                WHERE
                member_department LIKE CONCAT('%' #{search} '%') OR
                member_department_detail LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'modelType'">
                WHERE
                model_type LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'assetModelName'">
                WHERE
                asset_model_name LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'assetNumber'">
                WHERE
                asset_number LIKE CONCAT('%' #{search} '%')
            </when>
            <!--자산 리스트 전체 검색 매각, 신규 제외-->
            <when test="searchType == 'assetAll'">
                WHERE
                asset_info.status_type LIKE CONCAT('%' '출고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '입고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '기타' '%')
            </when>
            <when test="searchType == 'assetPayment'">
                WHERE
                asset_info.asset_payment_date BETWEEN '2024-01-01' and NOW()
            </when>
        </choose>

        <!--WHERE 조건문 공통 처리 : 매각 장비 검색 금지-->
        AND
        asset_info.status_type NOT LIKE CONCAT('%' '매각' '%')

        <!--정렬 조건 정리-->
        <choose>
            <when test="searchType == 'assetPayment'">
                ORDER BY asset_payment_date
            </when>
            <when test="searchType != 'assetPayment'">
                ORDER BY
                orderby_asset.asset_grant,
                hmm_department.department_location,
                hmm_department.department_region,
                hmm_department.department_floor,
                hmm_member.member_department_detail,
                hmm_member.member_working_status desc,
                orderby_rank.member_grant,
                hmm_member.member_id,
                asset_info.status_asset_usage DESC,
                asset_info.asset_number
            </when>
        </choose>

        <!--WHERE member_name LIKE CONCAT('%' #{search} '%')-->
    </select>

    <!--부서 및 직원 장비 리스트 조회 클라이언트 (전체 조회 후 js 처리) 조건 검색-->
    <select id="searchMemberList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_model
        ON asset_model.model_type=orderby_model.asset_model

        <!--동적쿼리문 작성-->
        <!--WHERE 조건문 정리-->
        <choose>
            <!--상단 간편 검색 및 상세 조회 리스트 검색의 간편 검색 처리-->
            <when test="searchDepart != '' and searchMember != ''">
                WHERE
                hmm_member.member_department_detail LIKE CONCAT('%' #{searchDepart} '%') AND
                hmm_member.member_name LIKE CONCAT('%' #{searchMember} '%') OR
                hmm_member.member_id LIKE CONCAT('%' #{searchMember} '%')
            </when>
            <when test="searchDepart != ''">
                WHERE
                hmm_member.member_department LIKE CONCAT('%' #{searchDepart} '%') OR
                hmm_member.member_department_detail LIKE CONCAT('%' #{searchDepart} '%')
            </when>
            <when test="searchMember != ''">
                WHERE
                hmm_member.member_name LIKE CONCAT('%' #{searchMember} '%') OR
                hmm_member.member_id LIKE CONCAT('%' #{searchMember} '%')
            </when>
            <when test="searchDepart == '' and searchMember == ''">
                WHERE
                asset_info.status_type NOT LIKE CONCAT('%' '출고' '%') and
                asset_info.status_type NOT LIKE CONCAT('%' '입고' '%') and
                asset_info.status_type NOT LIKE CONCAT('%' '기타' '%')
            </when>
        </choose>

        <!--WHERE 조건문 공통 처리 : 매각, 신규 예비 장비 검색 금지-->
        AND
        asset_info.status_type NOT LIKE CONCAT('%' '매각' '%')
        AND
        asset_info.status_type NOT LIKE CONCAT('%' '신규' '%')

        ORDER BY
        orderby_asset.asset_grant,
        hmm_department.department_location,
        hmm_department.department_region,
        hmm_department.department_floor,
        hmm_member.member_department_detail,
        hmm_member.member_working_status desc,
        orderby_rank.member_grant,
        hmm_member.member_id,
        asset_info.status_asset_usage DESC,
        asset_info.asset_number
    </select>

    <!--헤더 드롭다운 지급일 장비 리스트 조회 클라이언트 (전체 조회 후 js 처리) 조건 검색-->
    <select id="searchPaymentList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_model
        ON asset_model.model_type=orderby_model.asset_model


        <choose>
            <when test="(searchStart == '' and searchEnd == '') or (searchStart == null and searchEnd == null)">
                WHERE asset_payment_date
                BETWEEN DATE_ADD(NOW(), INTERVAL -5 DAY ) AND NOW()
                <!--YEAR, MONTH, WEEK, DAY-->
            </when>
            <when test="searchStart == ''">
                WHERE asset_payment_date
                BETWEEN #{searchEnd} AND #{searchEnd}
            </when>
            <when test="searchEnd == ''">
                WHERE asset_payment_date
                BETWEEN #{searchStart} AND NOW()
            </when>
            <otherwise>
                WHERE asset_payment_date
                BETWEEN #{searchStart} and #{searchEnd}
            </otherwise>
        </choose>


        ORDER BY
        asset_info.asset_payment_date,
        asset_info.asset_payment_member_id,
        asset_info.asset_number

    </select>


    <!--datalist 자동완성 장비번호 검색 리스트-->
    <select id="getAssetList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_model
        ON asset_model.model_type=orderby_model.asset_model

        <!--
                WHERE
                asset_info.status_type LIKE CONCAT('%' '출고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '입고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '기타' '%')
        -->

        order by
        asset_info.asset_number

    </select>

    <!--datalist 자동완성 부서 검색 리스트-->
    <select id="getDepartmentList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM hmm_department

        LEFT JOIN hmm_member
        ON hmm_department.department_name=hmm_member.member_department

        GROUP BY department_name

        ORDER BY

        hmm_member.member_department_detail


    </select>

    <!--datalist 자동완성 이름 검색 리스트-->
    <select id="getMemberList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM hmm_member

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        ORDER BY
        hmm_member.idx desc

    </select>

    <!--재고장비 차트 리스트-->
    <select id="getChart1List" resultType="string">
        SELECT
        asset_model_name,
        COUNT(*) as countUsage

        FROM asset_info

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        WHERE
        (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')<!--AND
        (asset_model_name = '450 G10' OR
        asset_model_name = '450 G9' OR
        asset_model_name = '450 G8' OR
        asset_model_name = '450 G7' OR
        asset_model_name = '450 G6' OR
        asset_model_name = 'P24v G5' OR
        asset_model_name = 'P24v G4' OR
        asset_model_name = 'P224' )-->
        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_name
    </select>
    <select id="getChart2List" resultType="int">
        SELECT COUNT(*)
        FROM asset_info

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        WHERE
        (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')<!--AND
        (asset_model_name = '450 G10' OR
        asset_model_name = '450 G9' OR
        asset_model_name = '450 G8' OR
        asset_model_name = '450 G7' OR
        asset_model_name = '450 G6' OR
        asset_model_name = 'P24v G5' OR
        asset_model_name = 'P24v G4' OR
        asset_model_name = 'P224' )-->
        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_name
    </select>


    <!--Pasination DataTables Server-Side 조건(DB LIMIT) 검색 처리-->
    <select id="findAssetByPagination" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        WHERE
        asset_info.status_asset_usage LIKE CONCAT('%' #{navSearch} '%') OR
        asset_info.status_type LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_id LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_rank LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_name LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_department_detail LIKE CONCAT('%' #{navSearch} '%') OR
        asset_info.asset_model_name LIKE CONCAT('%' #{navSearch} '%') OR
        asset_info.asset_number LIKE CONCAT('%' #{navSearch} '%')

        order by
        hmm_department.department_location,
        hmm_department.department_region,
        hmm_department.department_floor,
        hmm_member.member_department_detail,
        hmm_member.member_working_status desc,
        orderby_asset.asset_grant,
        orderby_rank.member_grant,
        hmm_member.member_id,
        asset_info.status_asset_usage DESC

        LIMIT #{startNo}, #{length};
    </select>

    <!--Pasination DataTables Server-Side 조건(DB LIMIT) 검색 Total Page Count-->
    <select id="countTotalAsset" resultType="int">
        SELECT
        count(*)

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name
        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status
        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        WHERE
        asset_info.status_asset_usage LIKE CONCAT('%' #{navSearch} '%') OR
        asset_info.status_type LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_id LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_rank LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_name LIKE CONCAT('%' #{navSearch} '%') OR
        hmm_member.member_department_detail LIKE CONCAT('%' #{navSearch} '%') OR
        asset_info.asset_number LIKE CONCAT('%' #{navSearch} '%')

        <!--order by
        hmm_department.department_location,
        hmm_department.department_region,
        hmm_department.department_floor,
        orderby_asset.asset_grant,
        orderby_rank.member_grant,
        hmm_member.member_id,
        asset_info.status_asset_usage DESC-->
    </select>


    <!--장비정보 추가--><!-- useGeneratedKeys="true" keyProperty="addId"-->
    <insert id="insertAsset" parameterType="hmm.itam.vo.AssetVo">
        INSERT INTO asset_info
        (
        <include refid="asset_info"/>
        )
        VALUES
        (
        #{assetNumber},
        #{assetModelCode},
        #{assetModelName},
        #{assetSerialNumber},
        #{assetBillingDate},
        #{assetArrivalDate},
        #{assetPaymentDate},
        #{assetPaymentMemberId},
        #{assetPaymentDepartment},
        #{assetPaymentMemberName},
        #{assetPaymentMemberRank},
        #{assetPaymentDetails},
        #{assetWiredMacAddress},
        #{assetWirelessMacAddress},

        #{statusType},
        #{statusAssetStatus},
        #{statusMemberId},
        #{statusAssetUsage},
        #{statusAssetEtc1},
        #{statusAssetSpec1},
        #{statusAssetSpec2},
        #{statusAssetSpec3},
        #{statusAssetDueDiligence},
        #{statusAssetEtc2},
        #{assetDuration},
        #{assetRepairHistory},
        #{assetLastUpdateDate}
        )
    </insert>

    <!--장비 관리 수정 작업 시 이력 관리 추가-->
    <insert id="insertHistory" parameterType="hmm.itam.vo.AssetVo">
        INSERT INTO asset_history
        (
        history_completion_date, history_request_date, history_asset_type, history_type,
        history_requester, history_worker, history_member_id, history_asset_number,
        history_request_details, history_reqeust_etc, history_spec1,
        history_spec2, history_spec3, history_request_usage, history_asset_etc1
        )
        VALUES
        (
        #{historyCompletionDate}, #{historyRequestDate}, #{historyAssetType}, #{historyType},
        #{historyRequester}, #{historyWorker}, #{historyMemberId}, #{assetNumber},
        #{statusAssetEtc2}, #{historyReqeustEtc}, #{statusAssetSpec1},
        #{statusAssetSpec2}, #{historySpec3}, #{statusAssetUsage}, #{statusAssetEtc1}
        )
    </insert>

    <!--모델정보 추가-->
    <insert id="insertModel" parameterType="hmm.itam.vo.AssetVo">
        INSERT INTO Asset_model
        (
        model_code, model_name, model_type, model_manufacturer, model_size, model_spec1,
        model_spec2, model_spec4, model_spec5, model_spec6, model_replaycement_type
        )
        VALUES
        (
        #{modelCode}, #{modelName}, #{modelType}, #{modelManufacturer}, #{modelSize}, #{modelSpec1},
        #{modelSpec2}, #{modelSpec4}, #{modelSpec5}, #{modelSpec6}, #{modelReplaycementType}
        )
    </insert>

    <!--장비정보 조회(관리번호)-->
    <select id="getAssetByAssetNumber" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info
        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        WHERE asset_number = #{assetNumber}
    </select>

    <!--장비정보 조회, 수정, 삭제 시 키값-->
    <select id="getAssetByIdx" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info
        WHERE idx = #{idx}
    </select>

    <!--장비정보 수정-->
    <update id="updateAsset" parameterType="hmm.itam.vo.AssetVo">
        UPDATE Asset_info
        SET
        asset_number = #{assetNumber},
        asset_model_code = #{assetModelCode},
        asset_model_name = #{assetModelName},
        asset_serial_number = #{assetSerialNumber},
        <!--asset_billing_date = #{assetBillingDate},-->
        asset_arrival_date = #{assetArrivalDate},
        asset_payment_date = #{assetPaymentDate},
        asset_payment_member_id = #{assetPaymentMemberId},
        asset_payment_department = #{assetPaymentDepartment},
        asset_payment_member_name = #{assetPaymentMemberName},
        asset_payment_member_rank = #{assetPaymentMemberRank},
        asset_payment_details = #{assetPaymentDetails},
        asset_wired_mac_address = #{assetWiredMacAddress},
        asset_wireless_mac_address = #{assetWirelessMacAddress},

        status_type = #{statusType},
        status_asset_status = #{statusAssetStatus},
        status_member_id = #{statusMemberId},
        status_asset_usage = #{statusAssetUsage},
        status_asset_etc1 = #{statusAssetEtc1},
        status_asset_spec1 = #{statusAssetSpec1},
        status_asset_spec2 = #{statusAssetSpec2},
        <!--status_asset_spec3 = #{statusAssetSpec3},-->
        status_asset_due_diligence = #{statusAssetDueDiligence},
        status_asset_etc2 = #{statusAssetEtc2},
        <!--asset_repair_history = #{assetRepairHistory},-->
        asset_last_update_date = NOW(),
        asset_duration = #{assetDuration}

        WHERE asset_number = #{assetNumber}
    </update>

    <!--모델정보 수정-->
    <update id="updateModel" parameterType="hmm.itam.vo.AssetVo">
        UPDATE Asset_model
        SET
        model_code = #{modelCode},
        model_type = #{modelType},
        model_manufacturer = #{modelManufacturer},
        model_size = #{modelSize},
        model_spec1 = #{modelSpec1},
        model_spec2 = #{modelSpec2},
        model_spec3 = #{modelSpec3},
        model_spec4 = #{modelSpec4},
        model_spec5 = #{modelSpec5},
        model_spec6 = #{modelSpec6},
        model_replaycement_type = #{modelReplaycementType}

        WHERE model_code = #{modelCode}
    </update>

    <!--장비정보 삭제-->
    <delete id="deleteAsset">
        DELETE
        FROM Asset_info
        WHERE asset_number = #{assetNumber}
    </delete>


    <!--사용 안하는 것들-->
    <!--검색 -->
    <select id="assetHeaderSearch" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info
        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name
        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status
        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        WHERE
        status_type = #{statusType} OR
        status_asset_usage = #{statusAssetUsage}

        order by
        orderby_asset.asset_grant,
        orderby_rank.member_grant,
        hmm_member.member_id,
        asset_info.status_asset_usage DESC

        LIMIT #{startNo}, #{length};
    </select>

    <!--간편 이력 조회-->
    <select id="getHistorySearch" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_history

        LEFT JOIN hmm_member
        ON asset_history.history_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_info
        ON asset_history.history_asset_number=asset_info.asset_number

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="navSearch == '' or navSearch == null">
                WHERE history_completion_date
                BETWEEN DATE_ADD(NOW(), INTERVAL -2 DAY ) AND NOW()
            </when>
            <otherwise>
                WHERE
                history_asset_number LIKE CONCAT('%' #{navSearch} '%') or
                member_id LIKE CONCAT('%' #{navSearch} '%') or
                member_name LIKE CONCAT('%' #{navSearch} '%')
            </otherwise>
        </choose>

        order by
        asset_history.history_completion_date DESC,
        hmm_member.member_department,
        asset_history.history_member_id,
        asset_history.history_type
    </select>

</mapper>