<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.AssetMapper">
    <select id="getAssetList" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN tgate_db
        ON hmm_member.member_id=tgate_db.tgate_member_id

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status


        order by
        orderby_asset.asset_grant,
        orderby_rank.member_grant,
        hmm_member.member_id,
        asset_info.status_asset_usage DESC,
        tgate_db.tgate_member_department


    </select>

    <!--장비 추가 정보 추가 처리-->
    <insert id="insertAsset" parameterType="hmm.itam.vo.AssetVo" useGeneratedKeys="true" keyProperty="addId">
        INSERT INTO Asset_info
        (
        asset_number, asset_model_name, asset_serial_number, asset_arrival_date,
        status_type, status_member_id, status_asset_status
        )
        VALUES
        (
        #{asset_number}, #{asset_model_name}, #{asset_serial_number}, #{asset_arrival_date},
        #{status_type}, #{status_member_id}, #{status_asset_status}
        )
    </insert>

    <insert id="insertModel" parameterType="hmm.itam.vo.AssetVo">
        INSERT INTO Asset_model
        (
        model_code, model_name, model_type, model_manufacturer, model_size, model_spec1,
        model_spec2, model_spec4, model_spec5, model_spec6, model_replaycement_type
        )
        VALUES
        (
        #{model_code}, #{model_name}, #{model_type}, #{model_manufacturer}, #{model_size}, #{model_spec1},
        #{model_spec2}, #{model_spec4}, #{model_spec5}, #{model_spec6}, #{model_replaycement_type}
        )
    </insert>

    <select id="getAssetByID" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM Asset_info
        WHERE idx = #{idx}
    </select>

    <select id="getAssetByAssetnumber" resultType="hmm.itam.vo.AssetVo">
        SELECT *
        FROM Asset_info
        WHERE asset_number = #{asset_number}
    </select>



</mapper>