<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.HistoryMapper">
    <select id="getHistoryList" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM assetHistory

        LEFT JOIN hmmMember
        ON assetHistory.historyMemberId=hmmMember.memberId

        LEFT JOIN tgateDb
        ON hmmMember.memberId=tgateDb.tgateMemberId

        LEFT JOIN assetInfo
        ON assetHistory.historyAssetNumber=assetInfo.assetNumber

        LEFT JOIN asset_model
        ON assetInfo.assetModelName=assetModel.modelName

        order by
        assetHistory.historyCompletionDate DESC,
        assetHistory.historyMemberId

    </select>

    <insert id="insertHistory" parameterType="hmm.itam.vo.HistoryVo">
        INSERT INTO assetHistory
        (
        historyCompletionDate, historyRequestDate, historyAssetType, historyType,
        historyRequester, historyWorker, historyMemberId, historyAssetNumber,
        historyRequestDetails, historyReqeustEtc, historySpec1,
        historySpec2, historySpec3
        )
        VALUES
        (
        #{historyCompletionDate}, #{historyRequestDate}, #{historyAssetType}, #{historyType},
        #{historyRequester}, #{historyWorker}, #{historyMemberId}, #{historyAssetNumber},
        #{historyRequestDetails}, #{historyReqeustEtc}, #{historySpec1},
        #{historySpec2}, #{historySpec3}
        )
    </insert>



</mapper>