<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.HistoryMapper">
    <!--장비 이력 전체 조회-->
    <select id="getHistoryListDate" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM asset_history

        LEFT JOIN hmm_member
        ON asset_history.history_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_info
        ON asset_history.history_asset_number=asset_info.asset_number

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="(searchStart == '' and searchEnd == '') or (searchStart == null and searchEnd == null)">
                WHERE history_completion_date
                BETWEEN DATE_ADD(NOW(), INTERVAL -10 DAY ) AND NOW()
                <!--BETWEEN DATE_ADD(NOW(), INTERVAL -4 DAY ) AND NOW()-->
                <!--YEAR, MONTH, WEEK, DAY-->
            </when>
            <when test="searchStart == ''">
                WHERE history_completion_date
                BETWEEN #{searchEnd} AND #{searchEnd}
                <!--BETWEEN DATE_ADD(NOW(), INTERVAL -1 YEAR ) AND NOW()-->
            </when>
            <when test="searchEnd == ''">
                WHERE history_completion_date
                BETWEEN #{searchStart} AND NOW()
                <!--BETWEEN DATE_ADD(NOW(), INTERVAL -1 YEAR ) AND NOW()-->
            </when>
            <otherwise>
                WHERE history_completion_date
                BETWEEN #{searchStart} and #{searchEnd}
            </otherwise>
        </choose>

        order by
        asset_history.history_completion_date DESC,
        hmm_member.member_department,
        asset_history.history_member_id,
        asset_history.history_type,
        asset_history.history_asset_number
    </select>

    <select id="getHistoryList" resultType="hmm.itam.vo.HistoryVo">
        <!-- DB 뷰 테이블 조회 -->
        SELECT *
        FROM ${tableName}
        <where>
            <!-- 검색 조건 -->
            <if test="navSearch != null and navSearch != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{navSearch}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{navSearch}, '%')
                )
            </if>

            <if test="searchValue != null and searchValue != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_worker LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{searchValue}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_request_details LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_request_etc LIKE CONCAT('%', #{searchValue}, '%')
                )
            </if>
        </where>
        <!-- 정렬 처리 -->
        <choose>
            <when test="orderByColumn != null and orderByColumn != '' and direction != null and direction != ''">
                ORDER BY ${orderByColumn} ${direction}
            </when>
            <otherwise>
            </otherwise>
        </choose>
        <!-- 페이징 처리 -->
        LIMIT #{start}, #{length}
    </select>
    <select id="countHistoryList" resultType="int">
        <!-- DB 뷰 테이블 조회 -->
        SELECT COUNT(*)
        FROM ${tableName}
        <where>
            <!-- 검색 조건 -->
            <if test="navSearch != null and navSearch != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{navSearch}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{navSearch}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{navSearch}, '%')
                )
            </if>

            <if test="searchValue != null and searchValue != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_worker LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{searchValue}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_request_details LIKE CONCAT('%', #{searchValue}, '%')
                OR asset_history.history_request_etc LIKE CONCAT('%', #{searchValue}, '%')
                )
            </if>
        </where>
    </select>


    <!--<select id="getHistoryListAll" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_all
    </select>
    <select id="getHistoryListAsset" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_asset
    </select>
    <select id="getHistoryListChange" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_change
    </select>
    <select id="getHistoryListConsumables" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_consumables
    </select>
    <select id="getHistoryListInput" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_input
    </select>
    <select id="getHistoryListOutput" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_output
    </select>
    <select id="getHistoryListRepair" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM history_list_repair
    </select>-->

    <!--Ajax 이력 조회 검색-->
    <select id="findHistoryByPagination" parameterType="hmm.itam.dto.PageDto" resultType="hmm.itam.vo.HistoryVo">
        <!-- 1차 조건: tableName이 있는 경우 -->
        <if test="pageDto.tableName != null and pageDto.tableName != ''">
            SELECT * FROM ${pageDto.tableName}
            <if test="pageDto.search != null and pageDto.search != ''">
                WHERE
                history_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_asset_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR member_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_asset_number LIKE CONCAT('%', #{pageDto.search}, '%')
                OR model_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_request_details LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_request_etc LIKE CONCAT('%', #{pageDto.search}, '%')
            </if>
            <choose>
                <when test="orderByColumn != null and orderByColumn != '' and direction != null and direction != ''">
                    ORDER BY ${orderByColumn} ${direction}
                </when>
                <otherwise>
                    ORDER BY history_completion_date DESC
                </otherwise>
            </choose>
            LIMIT #{start}, #{length}
        </if>

        <!-- 1차 조건: navSearch가 있는 경우 -->
        <if test="(pageDto.tableName == null or pageDto.tableName == '')">
            SELECT *
            FROM asset_history
            LEFT JOIN hmm_member ON asset_history.history_member_id = hmm_member.member_id
            LEFT JOIN hmm_department ON hmm_member.member_department = hmm_department.department_name
            LEFT JOIN asset_info ON asset_history.history_asset_number = asset_info.asset_number
            LEFT JOIN asset_model ON asset_info.asset_model_name = asset_model.model_name

            <if test="pageDto.navSearch != null and pageDto.navSearch != ''">
                WHERE (
                asset_history.history_type LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                )
            </if>
            <if test="pageDto.search != null and pageDto.search != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_worker LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_request_details LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_request_etc LIKE CONCAT('%', #{pageDto.search}, '%')
                )
            </if>

            <choose>
                <when test="orderByColumn != null and orderByColumn != '' and direction != null and direction != ''">
                    ORDER BY ${orderByColumn} ${direction}
                </when>
                <otherwise>
                    ORDER BY
                    asset_history.history_completion_date DESC,
                    hmm_member.member_department,
                    asset_history.history_member_id,
                    asset_history.history_type,
                    asset_history.history_asset_number
                </otherwise>
            </choose>
            LIMIT #{start}, #{length}
        </if>

        <!-- 기본값 처리: 아무 조건도 없을 경우 -->
        <!--<if test="(pageDto.tableName == null or pageDto.tableName == '') and (navSearch == null or navSearch == '')">
            SELECT * FROM history_list_asset
            LIMIT #{start}, #{length}
        </if>-->

    </select>


    <!--Ajax 이력 조회 카운트-->
    <select id="countTotalHistory" parameterType="hmm.itam.dto.PageDto" resultType="int">
        <!-- 1차 조건: tableName이 있는 경우 -->
        <if test="pageDto.tableName != null and pageDto.tableName != ''">
            SELECT COUNT(*) FROM ${pageDto.tableName}
            <if test="pageDto.search != null and pageDto.search != ''">
                WHERE
                history_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_asset_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR member_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_asset_number LIKE CONCAT('%', #{pageDto.search}, '%')
                OR model_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_request_details LIKE CONCAT('%', #{pageDto.search}, '%')
                OR history_request_etc LIKE CONCAT('%', #{pageDto.search}, '%')
            </if>
        </if>

        <!-- 1차 조건: navSearch가 있는 경우 -->
        <if test="(pageDto.tableName == null or pageDto.tableName == '')">
            SELECT COUNT(*)
            FROM asset_history
            LEFT JOIN hmm_member ON asset_history.history_member_id = hmm_member.member_id
            LEFT JOIN hmm_department ON hmm_member.member_department = hmm_department.department_name
            LEFT JOIN asset_info ON asset_history.history_asset_number = asset_info.asset_number
            LEFT JOIN asset_model ON asset_info.asset_model_name = asset_model.model_name
            <if test="pageDto.navSearch != null and pageDto.navSearch != ''">
                WHERE (
                asset_history.history_type LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{pageDto.navSearch}, '%')
                )
            </if>
            <if test="pageDto.search != null and pageDto.search != ''">
                AND (
                asset_history.history_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_asset_type LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_requester LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_worker LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_member_id LIKE CONCAT('%', #{pageDto.search}, '%')
                OR hmm_member.member_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_asset_number LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_model.model_name LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_request_details LIKE CONCAT('%', #{pageDto.search}, '%')
                OR asset_history.history_request_etc LIKE CONCAT('%', #{pageDto.search}, '%')
                )
            </if>
        </if>

        <!-- 기본값 처리: 아무 조건도 없을 경우 -->
        <!--<if test="(pageDto.tableName == null or pageDto.tableName == '') and (navSearch == null or navSearch == '')">
            SELECT COUNT(*) FROM history_list_asset
        </if>-->

    </select>


    <!--이력 등록 하기-->
    <insert id="insertHistory" parameterType="hmm.itam.vo.HistoryVo">
        INSERT INTO asset_history
        (
        history_completion_date, history_request_date, history_asset_type, history_type,
        history_requester, history_worker, history_member_id, history_asset_number,
        history_request_details, history_request_etc, history_spec1,
        history_spec2, history_spec3, history_request_usage, history_asset_etc1
        )
        VALUES
        (
        #{historyCompletionDate}, #{historyRequestDate}, #{historyAssetType}, #{historyType},
        #{historyRequester}, #{historyWorker}, #{historyMemberId}, #{historyAssetNumber},
        #{historyRequestDetails}, #{historyRequestEtc}, #{historySpec1},
        #{historySpec2}, #{historySpec3}, #{historyRequestUsage}, #{historyAssetEtc1}
        )
    </insert>

    <!--이력 관리 등록 후 장비 번호 히스토리 리스트 생성-->
    <select id="getHistoryAssetNumber" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM asset_history

        LEFT JOIN hmm_member
        ON asset_history.history_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_info
        ON asset_history.history_asset_number=asset_info.asset_number

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        WHERE
        history_asset_number = #{search}

        order by
        asset_history.history_completion_date DESC,
        hmm_member.member_department,
        asset_history.history_member_id,
        asset_history.history_type,
        asset_history.history_asset_number
    </select>

    <!--이력 관리 상세 조회 동적 쿼리문으로 처리 완료-->
    <!--<select id="getHistorySearch" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM asset_history

        LEFT JOIN hmm_member
        ON asset_history.history_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_info
        ON asset_history.history_asset_number=asset_info.asset_number

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        &lt;!&ndash;동적쿼리문 작성&ndash;&gt;
        <choose>
            <when test="search == '' or search == null">
                WHERE history_completion_date
                BETWEEN DATE_ADD(NOW(), INTERVAL -10 DAY ) AND NOW()
            </when>
            <when test="searchType == 'easySearch'">
                WHERE
                history_asset_number LIKE CONCAT('%' #{search} '%') or
                member_id LIKE CONCAT('%' #{search} '%') or
                member_name LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'historyAssetNumber'">
                WHERE
                history_asset_number LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'historyAssetType'">
                WHERE
                history_asset_type LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'historyMemberId'">
                WHERE
                member_id LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'historyMemberName'">
                WHERE
                member_name LIKE CONCAT('%' #{search} '%')
            </when>
            <when test="searchType == 'historyType'">
                WHERE
                history_type LIKE CONCAT('%' #{search} '%') or
                history_type LIKE CONCAT('%' '수리' '%')
            </when>
        </choose>


        order by
        asset_history.history_completion_date DESC,
        hmm_member.member_department,
        asset_history.history_member_id,
        asset_history.history_type,
        asset_history.history_asset_number
    </select>-->

    <!--datalist 자동완성 이름 검색 리스트-->
    <select id="getMemberList" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM hmm_member

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        ORDER BY
        hmm_member.idx desc

    </select>

    <!--datalist 자동완성 장비번호 검색 리스트-->
    <select id="getAssetList" resultType="hmm.itam.vo.HistoryVo">
        SELECT *
        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        LEFT JOIN orderby_rank
        ON hmm_member.member_rank=orderby_rank.member_rank

        LEFT JOIN orderby_asset
        ON asset_info.status_type=orderby_asset.asset_status

        LEFT JOIN orderby_model
        ON asset_model.model_type=orderby_model.asset_model

        <!--
                WHERE
                asset_info.status_type LIKE CONCAT('%' '출고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '입고' '%') OR
                asset_info.status_type LIKE CONCAT('%' '기타' '%')
        -->

        order by
        asset_info.asset_number

    </select>

</mapper>