<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.MemberMapper">
    <select id="getMemberList" resultType="hmm.itam.vo.MemberVo">
        SELECT *
        FROM hmm_member
    </select>

    <insert id="insertMember" parameterType="hmm.itam.vo.MemberVo">
        INSERT INTO hmm_member
        (
        member_id, member_name, member_rank, member_work, member_working_status,
        member_etc_1, member_etc_2
        )
        VALUES
        (
        #{memberId}, #{memberName}, #{memberRank}, #{memberWork}, #{memberWorkingStatus},
        #{memberEtc1}, #{memberEtc2}
        )
    </insert>

    <!--부서 조회-->
    <select id="getDepartmentList" resultType="hmm.itam.vo.MemberVo">
        SELECT DISTINCT
        member_department_detail, member_department
        FROM hmm_member
    </select>

    <!--홈 해더에서 부서 조회-->
    <select id="getHeaderDepartmentList" resultType="hmm.itam.vo.MemberVo">
        SELECT DISTINCT
        member_department_detail, member_department
        FROM hmm_member
    </select>

</mapper>