<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.MemberMapper">
    <select id="getMemberList" resultType="hmm.itam.vo.MemberVo">
        SELECT *
        FROM hmmMember
        LEFT JOIN tgateDb
        ON hmmMember.memberId=tgateDb.tgateMemberId
    </select>

    <insert id="insertMember" parameterType="hmm.itam.vo.MemberVo">
        INSERT INTO hmm_member
        (
        memberId, memberName, memberRank, memberWork, memberWorkingStatus,
        memberEtc1, memberEtc2
        )
        VALUES
        (
        #{memberId}, #{memberName}, #{memberRank}, #{memberWork}, #{memberWorkingStatus},
        #{memberEtc1}, #{memberEtc2}
        )
    </insert>
</mapper>