<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="hmm.itam.mapper.UserMapper">
    <!--로그인 가능 사용자 리스트 * 가져오기-->
    <select id="getUserList" resultType="hmm.itam.vo.UserVo">
        SELECT *
        FROM user
    </select>


    <!--회원가입 db 정보 추가 처리-->
    <insert id="insertUser" parameterType="hmm.itam.vo.UserVo">
        INSERT INTO user
        (
        hmm_id,
        name,
        department,
        password
        )
        VALUES
        (
        #{hmmId},
        #{name},
        #{department},
        #{password}
        )
    </insert>

    <!--로그인 인증 시 사용자 정보 가져오기-->
    <select id="getUserByHmmId" resultType="hmm.itam.vo.UserVo">
        SELECT *
        FROM user
        WHERE hmm_id = #{hmmId}
    </select>

    <!--로그인 인증 후 홈 화면에서 idx 값을 통한 사용자 정보 뷰-->
    <select id="getUserById" resultType="hmm.itam.vo.UserVo">
        SELECT *
        FROM user
        WHERE idx = #{idx}
    </select>

    <!--회원정보 수정-->
    <update id="updateUser" parameterType="hmm.itam.vo.UserVo">
        UPDATE user
        SET
        name = #{name},
        hmm_id = #{hmmId},
        department = #{department},
        password = #{password}
        WHERE idx = #{idx}
    </update>

    <!--탈퇴하기-->
    <delete id="deleteUser">
        DELETE
        FROM user
        WHERE idx = #{idx}
    </delete>


    <!--재고장비 차트 리스트-->
    <select id="getChartList1" resultType="string">
        SELECT
        asset_model_name,
        COUNT(*) as countUsage

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search1 == 'seoul'">
                WHERE
                department_region = '여의도' AND
                model_type = #{search} AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'busan1'">
                WHERE
                department_region = '초량동' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'busan2'">
                WHERE
                department_region = '중앙동' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'newAsset'">
                WHERE
                status_member_id = '신규자산'
            </when>
        </choose>

        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_name
    </select>

    <select id="getChartCount1" resultType="int">
        SELECT COUNT(*)

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search1 == 'seoul'">
                WHERE
                department_region = '여의도' AND
                model_type = #{search} AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'busan1'">
                WHERE
                department_region = '초량동' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'busan2'">
                WHERE
                department_region = '중앙동' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='양호')
            </when>
            <when test="search1 == 'newAsset'">
                WHERE
                status_member_id = '신규자산'
            </when>
        </choose>

        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_name
    </select>

    <!--재고장비 차트1 리스트-->
    <select id="getChartList2" resultType="string">
        SELECT
        asset_model_name,
        COUNT(*) as countUsage

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search1 == 'seoul'">
                WHERE
                department_region = '여의도' AND
                model_type = #{search} AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='불량')
            </when>
            <when test="search1 == 'busan'">
                WHERE
                department_location = '부산' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='불량')
            </when>
        </choose>


        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_code
    </select>
    
    <select id="getChartCount2" resultType="int">
        SELECT COUNT(*)

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id

        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name

        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search1 == 'seoul'">
                WHERE
                department_region = '여의도' AND
                model_type = #{search} AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='불량')
            </when>
            <when test="search1 == 'busan'">
                WHERE
                department_location = '부산' AND
                (status_asset_usage = '재고' and asset_info.status_asset_status ='불량')
            </when>
        </choose>

        GROUP BY
        asset_model_name

        ORDER BY
        asset_model.model_type,
        asset_model.model_code
    </select>

    <!--본사 및 전국 장비 지급 현황 표-->
    <select id="getTable1List" resultType="hmm.itam.vo.TableVo">
        select department_location,
        COUNT(case when asset_divestituer = '활성' then 1 end) as 'totalCount',
        COUNT(case when model_type = 'D' then 1 end) as 'desktop',
        COUNT(case when model_type = 'L' then 1 end) as 'laptop',
        COUNT(case when model_type = 'M' then 1 end) as 'monitor'
        from asset_info
        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name
        where
        asset_divestituer = '활성' and status_type = '출고' and status_asset_usage != '재고'
        group by
        department_location
        order by field(department_location, '본사','부산','광양','마산','포항','해외')
    </select>

    <!--용도별 장비 지급 현황 표-->
    <select id="getTable2List" resultType="hmm.itam.vo.TableVo">
        select status_asset_usage,
        COUNT(case when asset_divestituer = '활성' then 1 end) as 'totalCount',
        COUNT(case when model_type = 'D' then 1 end) as 'desktop',
        COUNT(case when model_type = 'L' then 1 end) as 'laptop',
        COUNT(case when model_type = 'M' then 1 end) as 'monitor'
        from asset_info
        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name
        where
        asset_divestituer = '활성' and status_type = '출고' and status_asset_usage != '재고'
        group by
        status_asset_usage
        order by field(status_asset_usage, '업무용','대여용','공용','기타')
    </select>

    <select id="getChartTableList" resultType="hmm.itam.vo.TableVo">
        select asset_model_name, model_type,
        COUNT(case when asset_divestituer = '활성' then 1 end) as 'total_count',
        COUNT(case when status_type = '출고' and status_asset_usage = '업무용' and status_asset_status = '양호' then 1 end) as
        'hmm_work',<!--출고(업무용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '대여용' and status_asset_status = '양호' then 1 end) as
        'hmm_rent',<!--출고(대여용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '공용' and status_asset_status = '양호' then 1 end) as
        'hmm_public',<!--출고(공용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '기타' and status_asset_status = '양호' then 1 end) as
        'hmm_etc',<!--출고(기타)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '양호' and
        department_region = '여의도' then 1 end) as
        'hmm_help',<!--본사재고(양호)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '불량' and
        department_region = '여의도' then 1 end) as
        'hmm_broken',<!--본사재고(불용)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '양호' and
        department_region = '초량동' then 1 end) as
        'busan_help',<!--부산재고(양호)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '불량' and
        department_region = '초량동' then 1 end) as
        'busan_broken'<!--부산재고(불용)-->

        FROM asset_info
        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        where
        asset_divestituer = '활성'

        group by
        asset_model_name

        order by model_type, asset_model_code
    </select>

    <!--메인 화면 차트 리스트-->
    <select id="getChartList" resultType="string">
        select asset_model_name, model_type,
        COUNT(case when asset_divestituer = '활성' then 1 end) as 'totalCount',
        COUNT(case when status_type = '출고' and status_asset_usage = '업무용' and status_asset_status = '양호' then 1 end) as
        'hmm_work',<!--출고(업무용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '대여용' and status_asset_status = '양호' then 1 end) as
        'hmm_rent',<!--출고(대여용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '공용' and status_asset_status = '양호' then 1 end) as
        'hmm_public',<!--출고(공용)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '양호' then 1 end) as
        'hmm_help',<!--본사재고(양호)-->
        COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '불량' then 1 end) as
        'hmm_broken',<!--본사재고(불용)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '재고' and status_asset_status = '양호' then 1 end) as
        'busan_help',<!--부산재고(양호)-->
        COUNT(case when status_type = '출고' and status_asset_usage = '재고' and status_asset_status = '불량' then 1 end) as
        'busan_broken'<!--부산재고(불용)-->

        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search == 'LaptopOffice'">
                where asset_divestituer = '활성' and model_type = 'L' and model_replacement_type = '사무용'
            </when>
            <when test="search == 'LaptopBusiness'">
                where asset_divestituer = '활성' and model_type = 'L' and model_replacement_type = '영업용'
            </when>
            <when test="search == 'Seoul'">
                where asset_divestituer = '활성' and department_region = '여의도'
            </when>
            <when test="search == 'Busan'">
                where asset_divestituer = '활성' and department_region = '초량동'
            </when>
            <when test="search == 'HOS'">
                where asset_divestituer = '활성' and department_region = '중앙동'
            </when>
            <otherwise>
                where asset_divestituer = '활성' and model_type = #{search}
            </otherwise>
        </choose>

        group by
        asset_model_name

        order by model_type, asset_number
    </select>

    <!--메인 화면 차트 카운트-->
    <select id="getChartCount" resultType="int">
        select
        <choose>
            <when test="search1 == 'totalCount'">
                COUNT(case when asset_divestituer = '활성' then 1 end) as 'total_count'
            </when>
            <when test="search1 == 'outCount'">
                COUNT(case when status_type = '출고' then 1 end) as 'outCount'
            </when>
            <when test="search1 == 'inCount'">
                COUNT(case when status_type = '입고' then 1 end) as 'outCount'
            </when>
            <otherwise>
                COUNT(0)
            </otherwise>
        </choose>


        FROM asset_info

        LEFT JOIN hmm_member
        ON asset_info.status_member_id=hmm_member.member_id
        LEFT JOIN hmm_department
        ON hmm_member.member_department=hmm_department.department_name
        LEFT JOIN asset_model
        ON asset_info.asset_model_name=asset_model.model_name

        <choose>
            <when test="search == 'LaptopOffice'">
                where asset_divestituer = '활성' and model_type = 'L' and model_replacement_type = '사무용'
            </when>
            <when test="search == 'LaptopBusiness'">
                where asset_divestituer = '활성' and model_type = 'L' and model_replacement_type = '영업용'
            </when>
            <when test="search == 'Seoul'">
                where asset_divestituer = '활성' and department_region = '여의도'
            </when>
            <when test="search == 'Busan'">
                where asset_divestituer = '활성' and department_region = '초량동'
            </when>
            <when test="search == 'HOS'">
                where asset_divestituer = '활성' and department_region = '중앙동'
            </when>
            <otherwise>
                where asset_divestituer = '활성' and model_type = #{search}
            </otherwise>
        </choose>

        group by
        asset_model_name

        order by model_type, asset_number
    </select>

    <!--
        <select id="getChartCount" resultType="int">
            SELECT asset_model_name,
            COUNT(case when asset_divestituer = '활성' then 1 end) as 'totalCount',
            COUNT(case when status_type = '출고' and status_asset_usage = '업무용' and status_asset_status = '양호' then 1 end) as
            '출고(업무용)',
            COUNT(case when status_type = '출고' and status_asset_usage = '대여용' and status_asset_status = '양호' then 1 end) as
            '출고(대여용)',
            COUNT(case when status_type = '출고' and status_asset_usage = '공용' and status_asset_status = '양호' then 1 end) as
            '출고(공용)',
            COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '양호' then 1 end) as
            '본사재고(양호)',
            COUNT(case when status_type = '입고' and status_asset_usage = '재고' and status_asset_status = '불량' then 1 end) as
            '본사재고(불용)',
            COUNT(case when status_type = '출고' and status_asset_usage = '재고' and status_asset_status = '양호' then 1 end) as
            '부산재고(양호)',
            COUNT(case when status_type = '출고' and status_asset_usage = '재고' and status_asset_status = '불량' then 1 end) as
            '부산재고(불용)'
            from asset_info
            LEFT JOIN hmm_member
            ON asset_info.status_member_id=hmm_member.member_id
            LEFT JOIN hmm_department
            ON hmm_member.member_department=hmm_department.department_name
            LEFT JOIN asset_model
            ON asset_info.asset_model_name=asset_model.model_name

            where
            asset_divestituer = '활성'

            group by
            status_type, asset_model_name, status_asset_status

            order by model_type, asset_model_name
        </select>-->
</mapper>